[2017-11-19 10:39] devCrossNet opened #1 "add i18n"
- add i18n support (client / server)
- add language switch example

[2017-11-19 10:41] devCrossNet opened #2 "add possibility to change meta/title for SEO"
- support changing title and meta tags in the server-rendered HTML
- support different titles and meta tags if the user switches routes in the client

[2017-11-19 10:43] devCrossNet opened #3 "add PWA support"
- add manifest + splash screens
- add SW support (offline-plugin or custom solution)
- webpack manifest in html
- async script tags
- dns prefetch
- above the fold css???

[2017-11-19 10:47] devCrossNet opened #4 "new generators / AST features"
set up a few test projects with this starter to find out how we can optimize the dev workflow further.

How can we increase the productivity with new generators and AST features?

[2017-11-19 10:49] devCrossNet opened #5 "writing more tests / add more type safety"
- [x] add tests for all production files
- [x] 100 % coverage
- [x] tests for generators (e2e)
- [x] e2e tests with cypress.io
- [x] replace as much as possible any types with real types

[2017-11-19 15:23] #1 closed

[2017-11-21 12:01] kslstn opened #7 "How to get started?"
I'd like to try this, but don't know how. I guessed I can install it with _npm install vue-starter_. After that I tried _npm vue-starter_ and got  _Did you mean this? restart_ as a response. I would very much appreciate a fool proof Readme.

That is, in case this project does what I hope: create boilerplates for Vue applications!

[2017-11-21 13:17] devCrossNet commented on #7
Hey Koos,

it is not an NPM package, so you have to download or `git clone` it to a folder of your choice.

If you already have node.js and npm installed you just have to `cd` into the project folder and follow the steps from the `README.md` (basically `npm i && npm run dev`)

I'll improve the `README.md` asap. Or you could create a pull request if you know how to better onboard beginners.

[2017-12-28 21:17] devCrossNet commented on #3
https://github.com/oliviertassinari/serviceworker-webpack-plugin

[2017-12-29 23:17] #7 closed

[2017-12-30 17:02] #3 closed

[2017-12-30 21:04] #2 closed

[2018-01-02 19:40] devCrossNet opened #12 "assets"
placeholder for assets

[2018-01-02 19:41] devCrossNet commented on #12
![vue-starter](https://user-images.githubusercontent.com/1667598/34497260-2d39a7ac-effd-11e7-8d88-ff011f0b3244.gif)

[2018-01-04 15:14] devCrossNet opened #15 "Component: Checkbox/RadioButtons"

[2018-01-04 15:15] devCrossNet opened #16 "Component: RangeSlider"

[2018-01-04 15:16] devCrossNet opened #17 "Component: SelectBox"

[2018-01-04 15:16] devCrossNet opened #18 "Component: DatePicker"

[2018-01-04 15:17] devCrossNet opened #19 "Component: Accordion"

[2018-01-04 15:18] devCrossNet opened #20 "Component: Tooltip"

[2018-01-04 15:18] devCrossNet opened #21 "Component: NotificationStack"

[2018-01-04 15:18] devCrossNet opened #22 "Component: Pagination"

[2018-01-04 15:21] devCrossNet opened #23 "bug: service worker doesn't update correctly after CD"
## Bug Report or Feature Request (mark with an `x`)
[code]

## Versions.
[code]

## Repro steps.
- deploy two new versions of JS on the same day
- visit the heroku app after each deployment
- changed parts will fail because server rendered version is different from client-side rendering
- I think it's because the client uses the cached js instead of fetching the new one

## Desired functionality.

[2018-01-04 15:23] devCrossNet opened #24 "FEAT: add benefits and SEO to landing page for better rankings"

[2018-01-05 15:49] #24 closed

[2018-01-05 16:03] devCrossNet commented on #23
after a quick research, it is clear that service workers just get installed if no old instance is running in the browser e.g. same website in an other tab.

I set the cache time from the generated html to 0 to prevent browser caching of the html, this solves the problem.

[2018-01-05 16:03] #23 closed

[2018-01-05 17:53] devCrossNet opened #25 "persist specific stores to a cookie"
it's necessary to share data between client and server before the app runs e.g. auth token,  to render pages on the server that need data from a protected resource.

[2018-01-05 19:46] devCrossNet opened #27 "add extract-i18n-message script"
script that parses $t() functions and generates the languages files from it.

[2018-01-05 21:49] #27 closed

[2018-01-07 14:55] devCrossNet opened #28 "set default locale on the server"
- read the accept-lang headers
- read it from the cookies (in case the user changed the default locale)
- put it in the html tag
- set it in i18n
- add it to initial state

[2018-01-13 17:43] #25 closed

[2018-01-21 01:20] #28 closed

[2018-01-24 08:37] devCrossNet opened #34 "deploy to heroku button"
## Bug Report or Feature Request (mark with an `x`)
[code]

[2018-01-25 08:22] devCrossNet opened #35 "improve docs"
- [ ] persist state
- [ ] benefits
- [ ] difference between nuxt/vue-cli
- [ ] enterprise context

[2018-01-27 16:07] devCrossNet commented on #34
https://devcenter.heroku.com/articles/heroku-button

[2018-01-27 21:27] #5 closed

[2018-01-28 12:21] #15 closed

[2018-01-28 15:27] #20 closed

[2018-02-02 13:17] devCrossNet commented on #12
![slack](https://user-images.githubusercontent.com/1667598/35735097-b725c4b2-0823-11e8-992d-fc908b03990e.jpg)

[2018-02-02 13:22] devCrossNet commented on #12
<img width="56" alt="slack" src="https://user-images.githubusercontent.com/1667598/35735289-6f37f606-0824-11e8-900a-67d37bf323e8.png">

[2018-02-03 12:25] devCrossNet opened #38 "use case: route guards with authentication"

[2018-02-03 12:40] devCrossNet opened #39 "add http service"
common way to interact with apis + handle auth, refresh and stuff

[2018-02-04 16:43] #16 closed

[2018-02-06 17:44] #19 closed

[2018-02-06 21:41] #22 closed

[2018-02-08 01:47] sky790312 opened #41 "add storybook"
any idea to use storybook?

[2018-02-08 09:51] devCrossNet commented on #41
Hey @sky790312, I never needed storybook. Can you give me a little bit more information about the benefits of storybook?

[2018-02-08 10:33] sky790312 commented on #41
It's like UI component guide. Showing what the component can do.
Or it can show the effect which the website has used.

airbnb's datepicker sample:
http://airbnb.io/react-dates/?selectedKind=DateRangePicker%20%28DRP%29&selectedStory=default&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel

Support vue too. You can check on my project. :)
https://github.com/sky7

[2018-02-08 10:43] devCrossNet commented on #41
does it work with Typescript too?

[2018-02-08 19:11] #17 closed

[2018-02-09 02:17] sky790312 commented on #41
I haven't try, but I believe it's solved now.
Check this issue:
https://github.com/storybooks/storybook/issues/2792

[2018-02-10 21:12] #18 closed

[2018-02-11 15:18] #21 closed

[2018-02-12 10:35] devCrossNet opened #42 "check out clean project and see if it runs correctly"

[2018-02-16 09:24] devCrossNet opened #43 "escape line breaks in extract-i18n-messages script"
`"key": "value \n value"` should stay like this in the generated json

[2018-02-16 09:26] devCrossNet opened #44 "support multiline comments in i18n magic comments"
/* test test test
test test test*/

should work

[2018-02-16 09:26] devCrossNet opened #45 "add generic form component with schemas"
generate forms out of a schema + validations

[2018-02-16 09:28] devCrossNet opened #46 "i18n-magic comments: support html tags"
`/* test <small>test</small> */` should work

`/* test [small]test[/small] */` is also ok as a solution

[2018-02-16 13:23] devCrossNet opened #47 "add change event to vue-select"
## Bug Report or Feature Request (mark with an `x`)
[code]

## Versions.
[code]

## Repro steps.

## Desired functionality.

### Mention any other details that might be useful.

[2018-02-17 12:33] #42 closed

[2018-02-17 12:33] #43 closed

[2018-02-17 12:34] #46 closed

[2018-02-17 12:52] #47 closed

[2018-02-17 22:07] #45 closed

[2018-02-18 14:05] #44 closed

[2018-02-18 15:52] devCrossNet opened #48 "add support for multiple themes"
## Bug Report or Feature Request (mark with an `x`)
[code]

## Desired functionality.
I want to be able to switch colours based on user interaction (theme toggle)

[2018-02-20 09:39] devCrossNet opened #49 "module generators are completely off"

[2018-02-20 13:19] devCrossNet opened #50 "add property for custom css classes to all components"

[2018-02-20 15:19] devCrossNet opened #51 "add dynamic slots to vueForm"

[2018-02-21 11:17] devCrossNet opened #52 "add transforms to vuex-persist"
eg. I have a state

[code]

I just want to save the token and not the error

[2018-02-21 11:19] devCrossNet opened #53 "vuex-persist decline hydrated state in certain cases"
e.g. I save a state to a cookie and later I change the structure of the state, I want to have the new default state as truth and not the old cookie state

[2018-02-22 10:09] devCrossNet opened #54 "fix tests for VueCalendar"
the tests fail on some days because the testing setup is dynamic, we have to find a way to make the tests more stable

[2018-02-24 19:17] #54 closed

[2018-02-24 19:18] #49 closed

[2018-02-24 19:19] devCrossNet commented on #48
use case too specific - should be solved on a project level.

[2018-02-24 19:19] #48 closed

[2018-02-24 19:30] #51 closed

[2018-02-24 20:03] #50 closed

[2018-02-24 21:53] #52 closed

[2018-02-24 22:06] #39 closed

[2018-02-25 15:57] devCrossNet opened #55 "component: markdown component"

[2018-02-25 16:40] #55 closed

[2018-02-27 08:44] devCrossNet opened #57 "component: badge"

[2018-02-27 08:45] devCrossNet opened #58 "component: autocomplete"
input that shows suggestions in a drop down, should work with the keyboard and have propper a11y.

[2018-02-27 08:47] devCrossNet opened #59 "switch to circle ci"
travis ci is very slow :-(

[2018-02-27 08:56] #41 closed

[2018-02-27 09:26] 40818419 opened #60 "Default config accessible in store"
## Bug Report or Feature Request (mark with an `x`)
[code]

## Desired functionality.

- Default config passed to store and accessible in state
- `CONFIG` env var is overwriting default config

[2018-02-27 10:47] devCrossNet opened #61 "script: i18n - generate nested objects instead of keys"
make this `"app.core.title": "test"` to this
[code]

[2018-02-28 11:43] devCrossNet opened #62 "consider using vuex-modules"
https://vuex.vuejs.org/en/modules.html

[2018-02-28 14:43] devCrossNet opened #63 "directive: smooth scroll on page"

[2018-02-28 15:48] 40818419 opened #64 "Allow vue-router to handle anchors"
https://router.vuejs.org/en/advanced/scroll-behavior.html

[2018-03-01 14:37] 40818419 opened #66 "Buttons with icons"
add `icon` prop

[2018-03-03 16:39] 40818419 opened #69 "Create overview of existing icons in storybook."

[2018-03-06 17:40] devCrossNet opened #71 "add recommendations from checkbot.io"
run checkbot.io against the vue-starter and implement missing optimizations.

[2018-03-06 17:43] devCrossNet opened #72 "update storybook"
use official typings for storybook; add styling to storybook

[2018-03-06 18:30] #66 closed

[2018-03-06 18:39] #64 closed

[2018-03-07 11:44] devCrossNet opened #73 "everything that is needed for the app in production should live in the dist folder that you don't have to deploy the src folder"
set __dirname in server cfg to true and change the path's in server/index.ts

[2018-03-08 20:45] #73 closed

[2018-03-08 21:31] devCrossNet commented on #69
I think I can close this one, right?

[2018-03-08 21:42] 40818419 commented on #69
not yet, i will provide `<vue-icon name="foo" />` component

[2018-03-11 20:22] #71 closed

[2018-03-12 09:38] 40818419 opened #75 "Move "trailing-comma" rule to "jsRules""
[code]

[2018-03-14 17:24] #75 closed

[2018-03-14 17:25] devCrossNet opened #77 "VueForm: support nested elements in schema"
support nested elements to render for example a vue-grid with vue-grid-items and vue-inputs

[2018-03-16 12:57] devCrossNet opened #78 "add box-sizing for all elements."

[2018-03-17 17:00] 40818419 opened #79 "Accept Language (bcp47)"
According to bcp47 (https://tools.ietf.org/html/bcp47) there is no such language like `en-EN`, but `en, en-GB, en-US;`

[2018-03-17 21:05] devCrossNet commented on #79
Really good catch! Thank you 👏🙂

[2018-03-19 08:30] devCrossNet opened #80 "add required and $attrs to all form elements"

[2018-03-19 14:55] devCrossNet opened #81 "evaluate vee-validate for forms"
use https://github.com/baianat/vee-validate instead of own vue-for or find a way to combine these two

[2018-03-20 13:54] devCrossNet opened #82 "HTTPService append Auth header if no Auth header is in the config"
otherwise, it will overwrite defined auth header and it could lead to a strange behavior

[2018-03-21 00:00] cureau opened #83 "Modify regex to support plurals in i18n (proposed solution)"
Hi! Not exactly sure how to do PR right now. Feel to close if this is unwelcome.

But wouldn't you want to support $tc('') in the i18n extractor (for plurals):

This regex would allow for it:

`\$tc?\([\r,\n, ,\S,"]*?\)`

(also adding double quotes for flexibility around `$t("double-quoted-keys")`

And then you can add magic comments with pluralized forms. E.g,

`$tc('org', 2 /* Organization | Org

[2018-03-21 08:07] devCrossNet commented on #83
Hey Kyle!
every PR is very welcome. If this is not clear it would be good if can provide some tips or create a PR to communicate that better. Here are the guidelines: https://github.com/devCrossNet/vue-starter/blob/master/.github/CONTRIBUTING.md

The reason why I just support the `$t` function by now is pretty simple -  I didn't need other functions. I implement use case by use case.

I would real

[2018-03-21 12:11] devCrossNet opened #84 "evaluate prettier as pre-commit hook"
prettier should reformat files before commit, maybe in combination with lint-staged.

[2018-03-22 16:09] 40818419 opened #85 "Add row with negative margins to grid"

[2018-03-24 11:25] 40818419 opened #86 "VueMarkdown: Trim text before render"
Text with spaces on the beginning of a string should be trimmed to avoid replacement with `code` tag
<img width="297" alt="bildschirmfoto 2018-03-24 um 12 22 16" src="https://user-images.githubusercontent.com/2235499/37863432-73a1af82-2f5e-11e8-8aa2-84dc550d9e9d.png">

[2018-03-24 13:04] #86 closed

[2018-03-24 13:08] devCrossNet opened #88 "CI: run codecov before npm run build to upload valid coverage reports"

[2018-03-24 16:01] #88 closed

[2018-03-24 16:48] #79 closed

[2018-03-24 16:48] #82 closed

[2018-03-24 17:01] #78 closed

[2018-03-24 17:44] #80 closed

[2018-03-24 17:46] devCrossNet commented on #77
I think this is not the right approach to handle forms -> closed

[2018-03-24 17:46] #77 closed

[2018-03-24 17:46] devCrossNet commented on #59
not necessary any more

[2018-03-24 17:48] devCrossNet commented on #62
I think it's not needed for most applications and it'll add more complexity -> closed

[2018-03-26 13:31] devCrossNet opened #92 "add to https://github.com/vuejs/awesome-vue"
add an entry to https://github.com/vuejs/awesome-vue

[2018-03-26 18:28] #85 closed

[2018-03-27 14:47] devCrossNet opened #93 "express: error handling/logging"

[2018-03-28 01:51] #61 closed

[2018-03-29 12:10] devCrossNet opened #94 "webpack 4 upgrade"
still waiting for some dependencies to catch up. e.g. https://github.com/oliviertassinari/serviceworker-webpack-plugin

[2018-03-30 15:28] devCrossNet commented on #92
https://github.com/vuejs/awesome-vue/pull/2002

[2018-03-30 19:34] #92 closed

[2018-04-03 09:57] devCrossNet opened #98 "refactor express app"
index.ts is too big

[2018-04-03 10:17] devCrossNet opened #99 "turn it into a organisation"
name?

[2018-04-03 10:17] devCrossNet opened #100 "build eco-system"
separate packages and document how to use them with the vue-starter.

don't turn everything into a library because libraries suck, I want to have the ability to change everything whenever I want, the code must be mine!

[2018-04-03 11:04] devCrossNet opened #101 "exclude i18n files from bundle"
it seems that the i18n json files are part of the bundle, this should not be the case because they should be loaded on the fly

[2018-04-03 12:34] devCrossNet opened #102 "use async/await"

[2018-04-03 15:07] devCrossNet opened #103 "i18n: escape newline"
`test \n test` should be `"key": "test \n test"`

but

[code]
should not be `"key": "test\ntest"`, should be `"key": "test test"` instead

[2018-04-03 15:09] devCrossNet opened #104 "i18n: support html in template magic comment and markdown"
if you want to use a magic comment with HTML inside a template, you have to replace `<>` with `[]`, that leads to malformed markdown because a markdown link, for example, looks like this `[name](link)`, which will be translated to `<name>(link)`, we have to find a solution for this

[2018-04-04 14:25] be-next-hotdog opened #105 "How may I install a client side lib in SSR mode ?"
Hello, guys,

Just a quick question, I wonder how to implement a 3rd party wyswyg lib in your projet in SSR mode ? For example the 'vue-quill-editor' (https://github.com/surmon-china/vue-quill-editor) ?

Appreciate your helps.

[2018-04-04 15:31] devCrossNet commented on #105
hey @be-next-hotdog,

did you already try to implement it and did you get any errors?

[2018-04-05 08:59] be-next-hotdog commented on #105
Indeed, I tried implementing in client or server entry script but always got 'Document is undefined' error.

[2018-04-05 09:02] devCrossNet commented on #105
I'll have a look at it asap @be-next-hotdog

[2018-04-07 13:32] #93 closed

[2018-04-07 13:50] #58 closed

[2018-04-10 09:42] #98 closed

[2018-04-11 06:52] devCrossNet opened #107 "check out https://webdash.xyz/ and see if it adds value."

[2018-04-12 09:43] devCrossNet opened #108 "rework blueprints"
- apply vue-starter formatting
- use deep merge for test state in mutations and getters
- use module state instead of global `IState` interface

[2018-04-12 15:24] devCrossNet commented on #105
hey @be-next-hotdog,

no, sorry I have to find some time. did you follow the guide in the readme of this lib? seems to be pretty detailed.

[2018-04-13 09:09] be-next-hotdog commented on #105
To be honest, I tried many a times to implement this editor,  I did grasped the quill lib instance after the rendering but could not embed the target div tag. Therefore, I wonder what should I do exactly in your client side entry script before/during/after the rendering. I use at the beginning the `vue-ssr-starter-kit` but as I saw the client/server entries are the same.

[2018-04-13 09:16] devCrossNet commented on #105
ok, I'll try to figure it out during the weekend

[2018-04-15 15:49] devCrossNet commented on #105
@be-next-hotdog I created a branch with the implementation: https://github.com/devCrossNet/vue-starter/commit/39319793ba14898f85935bdddb59aede5914cf98

it was really easy to implement, I did just follow the instructions from the readme. Would be good if you could try it a little more next time before you create an issue.

Hope that helps, please close this issue if everything is ok 👍

[2018-04-15 16:59] devCrossNet commented on #38
official docs: https://router.vuejs.org/en/advanced/navigation-guards.html

I think we don't need an example in the vue-starter because authentication is very domain specific and route guards are well documented

[2018-04-15 16:59] #38 closed

[2018-04-16 09:36] be-next-hotdog commented on #105
@devCrossNet So sorry, I admit that I made a stupid oversight, what I thought dist/ssr contains all the necessary elements after rendering, including style sheets.

My bad, Thx a lot anyway 👍

[2018-04-16 09:36] #105 closed

[2018-04-16 13:13] devCrossNet commented on #62
WIP: https://github.com/devCrossNet/vue-starter/tree/refactor/vuex

[2018-04-17 17:10] devCrossNet commented on #94
success: I replaced the `$style` mock object with a mixin and now everything works. still have to figure out what happened to the `manifest.json` file

[2018-04-19 11:52] devCrossNet opened #113 "evaluate vuepress for docs"

[2018-04-21 17:54] #94 closed

[2018-04-21 19:44] #101 closed

[2018-04-21 19:44] #103 closed

[2018-04-24 12:20] devCrossNet opened #116 "make asset handling easier"
I don't like the current asset structure, maybe adapt the `static` folder from nuxt

[2018-04-25 12:04] be-next-hotdog opened #117 "How to implement the 3rd party plugin without support SSR ?"
## Bug Report or Feature Request (mark with an `x`)
[code]

Hello,

WIP on integrating another 3rd party plugin without SSR support (https://github.com/zdy1988/vue-jstree) and really sorry to disturb you again. I'm looking forward to figuring out a solution (tuto or example) solving this kind of `3rd party plugin integration issue` once and for all. As someone indeed published a tuto to introduce

[2018-04-25 13:38] devCrossNet opened #118 "add example for route transitions"
look into https://page-transitions.com/

[2018-04-26 07:40] devCrossNet opened #119 "proper error and 404 pages + SSR"
right now we just print out a text in this cases:

`404 | Page Not Found` and `500 | Internal Server Error`
but what I really want is to render these pages inside the app because error and not found pages should look awesome!

[2018-04-26 07:41] devCrossNet opened #120 "upgrade vue-loader"
https://vue-loader.vuejs.org/migrating.html

[2018-04-27 12:54] devCrossNet commented on #120
implement this, too: https://github.com/GoogleChromeLabs/webpack-libs-optimizations

[2018-04-28 14:47] devCrossNet commented on #117
@be-next-hotdog can I close this issue?

[2018-04-28 15:27] #62 closed

[2018-04-28 15:27] #108 closed

[2018-04-28 21:10] devCrossNet commented on #102
nah

[2018-04-28 21:10] #102 closed

[2018-04-29 14:55] #35 closed

[2018-04-29 14:55] #113 closed

[2018-04-29 14:55] #116 closed

[2018-04-30 07:12] devCrossNet commented on #12
<img width="721" alt="screen shot 2018-04-30 at 09 09 45" src="https://user-images.githubusercontent.com/1667598/39417746-99f967f0-4c56-11e8-865c-9db54012060a.png">

[2018-04-30 07:13] #117 closed

[2018-04-30 07:14] #104 closed

[2018-05-01 17:41] #57 closed

[2018-05-08 12:23] devCrossNet opened #124 "client side error logging"
https://www.sitepoint.com/capture-and-report-javascript-errors-with-window-onerror/

[2018-05-08 13:11] berserkore opened #125 "npm run build:spa failing"
Hi There,

Thanks for this awesome repo. Just meeting some issues to run the following command:
` npm run build:spa`

I am using nvm to switch node version without success.
Here is the console log error I am getting:

[code]

Any Ideas?

[2018-05-08 13:42] devCrossNet commented on #125
hey @berserkore, thanks for the report. Can you change this line: https://github.com/devCrossNet/vue-starter/blob/master/config/webpack.spa.config.js#L41?

to `template: 'src/index.template.html',` and try again? I totally missed this issue, sorry for that. I have to write a test for it.

[2018-05-09 10:01] devCrossNet commented on #125
@berserkore can I close this issue?

[2018-05-12 14:08] #125 closed

[2018-05-12 14:30] #81 closed

[2018-05-12 16:55] #120 closed

[2018-05-12 17:47] #124 closed

[2018-05-12 17:48] devCrossNet commented on #107
doesn't add something that really I need

[2018-05-12 17:48] #107 closed

[2018-05-12 18:03] devCrossNet commented on #53
can't find an actual use case where I have to handle this issue in general. All the use cases I have found are domain specific and has to be handled by the developer who knows the domain.

[2018-05-12 18:03] #53 closed

[2018-05-12 19:29] devCrossNet opened #129 "community feedback"

[2018-05-14 16:31] be-next-hotdog commented on #117
@devCrossNet sorry guy to reply you so late (was on vacations). I tested quickly your solution, but the re-render mechanism impacts slightly the rendering of several charts. Please tell me if you figure out a better solution, otherwise I'll redefine the page layout and move the tree viewer to a more independent work panel.
So grateful to your tips anyway :)

[2018-05-15 07:39] devCrossNet opened #130 "registerModule has wrong type for first parameter"
array of strings instead of string `store.registerModule(['app'], AppModule, { preserveState: true });`

[2018-05-15 14:11] #130 closed

[2018-05-16 07:31] devCrossNet opened #132 "move AppConfig from server/utils to app/config"

[2018-05-16 18:32] #132 closed

[2018-05-17 07:39] devCrossNet opened #133 "Design System"
Provide a full-featured design system including sketch file to start new projects as fast as possible

[2018-05-21 10:34] Riari opened #134 "Hot reloading for the Express server"
## Bug Report or Feature Request (mark with an `x`)
[code]

## Desired functionality.
Hot reloading of server modules. I know the server is responsible for client and isomorphic building/HMR, so this might not be possible, but having to restart the entire stack to reflect a change in the Express code is painful.

[2018-05-21 11:26] devCrossNet commented on #134
hey @Riari,

a really good request, I didn't think of this use case because I usually use external REST APIs. But this feature is essential if your backend lives in the express app.

can you try this solution: https://github.com/devCrossNet/vue-starter/commit/0472d36445b8c8180353aba2b19d990b97128c70
and give me feedback?

I'll merge it into master as soon as you approve it.

Regards

[2018-05-21 11:45] Riari commented on #134
Hey,

I should have pointed out that I tried nodemon already and found it was too slow, since it restarts the entire process and that in turn triggers webpack building the client and isomorphic sources. I think there might be a way of doing it if the Express server and application are split into separate files and HMR then applied to the app.

The first part of this article looks like a promising

[2018-05-21 11:48] devCrossNet commented on #134
ok, will have a look at it 👍

[2018-05-21 11:48] devCrossNet opened #135 "autocomplete: trigger change event on every click"
[code]

[2018-05-21 13:59] devCrossNet commented on #134
hey @Riari,

can you give this a test ride? https://github.com/devCrossNet/vue-starter/commit/34f102d8ae48d1c31cee3194522911a2598b1c38

I think it's much better and it also reloads the i18n files in dev.

[2018-05-21 15:17] Riari commented on #134
That looks like it's almost working perfectly! But the server doesn't come up - I think that's because enabling watch mode in webpack means it never gets as far as running `node ./dist/server/server.js`. The article mentions [start-server-webpack-plugin](https://github.com/ericclemmons/start-server-webpack-plugin), which seems like it might be necessary in this case.

[2018-05-21 15:31] devCrossNet commented on #134
I got it not working with typescript. can you try to increase the sleep in the dev script? that's a dirty hack, but just to get it running for testing.

[2018-05-21 15:56] Riari commented on #134
OK, I tried increasing it to 8, but it simply never gets that far. I would expect to see some output from the server (starting with `info: server started at http://localhost:3000`), but there is none. Not sure how it's even working for you!

[2018-05-21 17:10] devCrossNet commented on #134
I will have a look at it later 👍

[2018-05-22 10:39] devCrossNet commented on #134
@Riari can you check out the `feat/dev-express` branch and help me to find a good solution?

I would really appreciate it :blush:

you can use the code that I already have written to create a PR or just give me some hints on this issue.

thx in advance

[2018-05-22 11:36] devCrossNet opened #137 "vue-starter as vue-cli template?"
After vue-cli RC:

- should the vue-starter be a vue-cli template?

- how can we do this?

# pros
- set up a new project with the right naming

# cons
- you need to install vue-cli

[2018-05-23 08:57] devCrossNet opened #138 "modal: make content scrollable"
the modal is currently not usable for long content

[2018-05-25 07:15] #134 closed

[2018-05-25 09:01] #129 closed

[2018-05-25 10:45] berserkore commented on #125
Hi @devCrossNet, thanks for fixing the issue. Works great now!

[2018-05-25 11:02] devCrossNet commented on #125
@berserkore perfect 👍

[2018-05-26 08:32] #135 closed

[2018-05-26 08:32] #138 closed

[2018-05-28 12:37] devCrossNet commented on #118
it's no magic and it is not too generic enough to create a use case out of it.

general route transitions are documented here: https://router.vuejs.org/guide/advanced/transitions.html

and component-specific route transitions can be done with the router state.

[2018-05-28 12:37] #118 closed

[2018-05-30 17:23] devCrossNet opened #141 "component: data-grid/table"
a new component that can display data as a table and should include:

- display JSON as table
- sorting
- filtering
- pagination or endless scrolling
- custom cell renderer (optional for MVP)
- server-side-rendering

[2018-05-31 11:18] devCrossNet opened #142 "add a runtime config for feature flags"
[code]

[2018-05-31 16:55] devCrossNet commented on #12
![ezgif-4-188bd95bff](https://user-images.githubusercontent.com/1667598/40796069-2721bc8e-6504-11e8-880c-d973fd37b73e.gif)

[2018-05-31 17:58] devCrossNet opened #144 "calendar: write test for the 31.05.2018. too many active days"
<img width="318" alt="screen shot 2018-05-31 at 19 58 02" src="https://user-images.githubusercontent.com/1667598/40799098-f3976112-650c-11e8-8cd9-88ded824a367.png">

[2018-06-01 09:45] be-next-hotdog opened #145 "[Question] Management of synchronisation between state and brower cookie"
## Bug Report or Feature Request (mark with an `x`)
[code]

## Versions.
[code]

Hi, folks, @devCrossNet, this might go for digging out a solution face to this typical problematic under SSR.
I currently store a `userLastSelectedLocale` in browser cookie and wish to initialize the `locale` state connected to this `userLastSelectedLocale` value if it exist in cookie. But obviously it could not possi

[2018-06-01 09:53] devCrossNet commented on #145
@be-next-hotdog hey I am not really sure if I understand your use-case correctly.

How does it differ from the one I already included? (https://github.com/devCrossNet/vue-starter/blob/master/src/server/isomorphic.ts#L51)

I think you have to gove me a little bit more context to help you 😊

[2018-06-01 10:01] devCrossNet opened #146 "modal: add smooth scrolling"
feels buggy on mobile if you scroll the content in a modal

[2018-06-01 10:03] devCrossNet opened #147 "datepicker: remove cursor, should work on focus"
on mobile, the date picker shows the cursor of the text field in the calendar, and the date picker does not work if you tab in the textbox

[2018-06-01 10:19] be-next-hotdog commented on #145
Supposing that we stored `{ userSelectedLocale: 'en_US' }` in browser side cookie.

some quick dumb codes:
[code]
And :
[code]

We agreed that the `locale` value remains always `"en_US"` even after on browser side components mounted,  also all the `computed values` attached to this locale state by a Getter remain `"en_US"`, cuz initialisation of state has done yet on server side without finding an

[2018-06-01 10:42] devCrossNet commented on #145
this whole use case is already included in the vue-starter. it uses a persist middleware to save the app module in a cookie. and it gets extracted and merged on the server-side before rendering in `isomorphic. ts`.

it is also optimized to not have any default locales in the app bundle generated by webpack.

I recommend you to read the docs:

https://vue-starter.herokuapp.com/docs/guide/i18n.html

[2018-06-01 12:35] devCrossNet commented on #145
I am very sorry, I struggle to answer this. Maybe it's something lost in translation.

Let me reflect. you want to save the `en_GB` locale in a cookie and set it as the default locale in the i18n plugin, but just on the client side?

you could read the cookie value and put it directly in the default state, or just initialize the i18n plugin with the cookie value.

to be honest, I prefer the soluti

[2018-06-01 13:25] devCrossNet opened #148 "Slider: accessibility for keyboard users"
we should support keyboard events on the slider

[2018-06-01 13:55] GustavoRPS opened #149 "Implement cache middleware"
[Results of PageSpeed Insights](https://developers.google.com/speed/pagespeed/insights/?url=https%3A%2F%2Fvue-starter.herokuapp.com%2F&tab=mobile)

To improve even more this repositorie is be nice implement an response caching middleware or use one like [kwhitley/apicache](https://github.com/kwhitley/apicache)

https://github.com/devCrossNet/vue-starter/blob/b2ae228a7d08f2b3b1d634da75b30f1975549be

[2018-06-01 14:10] GustavoRPS commented on #149
Good point!

[There is where they write](https://github.com/kwhitley/apicache/blob/5ed6c8e91a8835d9e3c345cbdfbd682a78ecf639/src/apicache.js#L166-L174) the `cache-control` key on the header.

For what I read the code they not modify the header only add `cache-control` key but the main propose of the lib if for REST API but I believe can work without other `Content-Type` to;

There is a [more simple

[2018-06-01 14:34] devCrossNet commented on #149
did you have a look at this line: https://github.com/devCrossNet/vue-starter/blob/master/src/server/routes/SSRRoutes.ts#L16 ?

this is the cache for the rendered HTML, maybe this is already what you want.

[2018-06-01 15:47] be-next-hotdog commented on #145
You just misunderstood guy, what you did matches perfectly the usual requirements for how to handle the locale state / async loading et etc.
I consider the locale selections in 2 user case :
1. locale setting saved in user profile data (persisted in db i.e.), would be in charge for the 1st visit of your app ;
2. locale selected during navigation (for example most of people prefer spending times on

[2018-06-01 21:01] GustavoRPS commented on #149
That's partly what I'm after. But and the cache for `js`, `png`, etc?

Have you see the [tesults of PageSpeed Insights](https://developers.google.com/speed/pagespeed/insights/?url=https%3A%2F%2Fvue-starter.herokuapp.com%2F&tab=mobile)? To improve even more the score only need cache for `js` and `png` files.

[2018-06-02 14:36] devCrossNet commented on #149
it would be good if they would recommend a cache time value in the docs. apparently, 24h is not enough for them.

What would you recommend?

[2018-06-02 14:48] devCrossNet commented on #145
Hey, @be-next-hotdog.

This use-case is not supported by default in the vue-starter.

This is exactly what I implemented.
There is an `app` state which has a locale attribute. this state can be overwritten by a user interaction.
The user choice is saved to a cookie, hydrated on the server and put back to the client.

please have a look at the following lines:
- state which can be changed by the us

[2018-06-02 17:47] devCrossNet opened #151 "vuex modules - lazy loading"
https://twitter.com/MaOberlehner/status/1002969134274109441

[2018-06-02 21:48] devCrossNet opened #153 "add update script"
script to update the vue-starter

[2018-06-03 11:55] devCrossNet opened #155 "write some docs to clarify that you can create components in subdirectores"
it is not very clear that you can use a path as a component, connected component or module name

[2018-06-03 11:55] #12 closed

[2018-06-03 11:55] devCrossNet commented on #4
will wait for feature requests

[2018-06-03 11:55] #4 closed

[2018-06-04 12:44] devCrossNet opened #162 "component: show more text"
a component that truncates text and adds a button to show the whole text. if you click the button it shows the whole text and a button to collapse the text again.

[2018-06-04 18:35] #142 closed

[2018-06-04 18:35] #144 closed

[2018-06-04 18:35] #146 closed

[2018-06-04 18:35] #147 closed

[2018-06-04 18:36] #153 closed

[2018-06-04 18:48] #148 closed

[2018-06-04 23:19] GustavoRPS commented on #149
Actually it was already done but the code is a bit scattered in my opinion. +1 to cache "middleware" in my opinion, would centralize the cache setting.

Let's try `4w`?

[2018-06-05 06:58] devCrossNet commented on #149
I would be happy to change the code in a way that makes it more obvious (also it's not a thing people really care about or change often). If you have a recommendation, let me know 👍

But I would not feel comfortable with replacing this one-liner with a new dependency, that's just too much.

anyway, I will change the cache time to 4/8 weeks and see if pagespeed recognizes it and I'll add it to vers

[2018-06-07 21:31] GustavoRPS commented on #149
If te 4/8 work for PageSpeed Insights you can close the issue with congratulations

[2018-06-08 08:37] devCrossNet commented on #149
`4w` did the trick, will add it to version 1.1 and close this ticket 👍

Thank you very much @GustavoRPS 😊

<img width="647" alt="screen shot 2018-06-08 at 10 36 15" src="https://user-images.githubusercontent.com/1667598/41147881-d2e7aebc-6b07-11e8-9270-5f9c9a7a5f05.png">

[2018-06-08 11:00] devCrossNet opened #163 "component: simple image slider"
fadein-out images, show indicator, stop on hover

[2018-06-09 15:31] devCrossNet opened #164 "HttpService as vuex middleware or action / Set HttpService store in createApp"
I discovered that you can not use the HttpService in components directly if you have the store referenced in the HttpService and the component is connected, that leads to a circular dependency.

[2018-06-09 15:44] #149 closed

[2018-06-10 23:37] 40818419 commented on #141
we also will need:

1. cell rendering
[code]
2. Edit cells
3. Pagination based on server request

What do you think?

[2018-06-11 09:01] be-next-hotdog commented on #145
Sorry to reply so late, guys.

Actually, I captured just the necessary SSR scripts from this project instead of cloning all, in considering of managing a minimum viable stack, besides, my friends are not ready to programme with TS. I'll try to implement this feature (state persistence and merge) what you enhanced recently.

Furthermore, speaking of our whole need, this synchronous locale state inv

[2018-06-11 12:29] devCrossNet commented on #145
hey @be-next-hotdog,

that is a use-case I don't have implemented yet and I have no quick solution to it.

It's really difficult for me to support someone who has just copied a small piece of the vue-starter code. I hope you can understand that I close this issue because it is not related to this project.

You can create a feature request and describe in detail what the vue-starter should support.

[2018-06-11 12:29] #145 closed

[2018-06-11 13:50] be-next-hotdog commented on #145
@devCrossNet no prob, you're right 👍

[2018-06-12 11:42] devCrossNet commented on #100
- vuex-middleware can be a library, didn't change it in ages
- fork SW-plugin and create a new library build on top of TS
- vue-i18n-extract can be a library
- generator cli can be a library?!?

[2018-06-13 01:50] angeliski commented on #137
Hey @devCrossNet I like to help make vue-starter as a vue-cli template. Do you believe I can move the project to template folder or create another project?
Do you think about it? Do you have any direction?

[2018-06-13 07:04] devCrossNet commented on #137
Hey @angeliski, I don't have a direction yet because I don't know the internals of the vue-cli. I have to look into it as soon as version 3 is released.

I think the first question we have to answer is: **How would the vue-starter benefit from being a vue-cli template?**

If you have some insights, let's discuss here.

[2018-06-13 10:32] angeliski commented on #137
Nice! I don't know the changes for version 3, I will look too.

About the question, I believe the better way to a vue boilerplate is the template path, but that depends of the main proposal of the project.
You can talk more about the proposal of the vue-starter?
It is a best practices example? It is a guideline? It is like a reference project? It is a boilerplate to fast init projects?

[2018-06-13 10:52] devCrossNet commented on #137
I tried to express my goals for this starter in the docs: https://vue-starter.herokuapp.com/docs/introduction.html

Maybe this gives you an idea of the project

[2018-06-13 11:08] angeliski commented on #137
Thank you @devCrossNet
I have not seen that page, thanks for sharing.
That quote:

Is the main of moving to vue template.
Think about, you need to create a project quickly, but if you use the vue-starter you will need to rename and adjust the project for your use case, but if vue-starter is a template when you init the project all questions should be answered It is fast and right from the begining

[2018-06-13 11:12] devCrossNet commented on #137
I think this point should go to the "pro" site for making it a template.

That's a good one 👍

[2018-06-16 08:58] #162 closed

[2018-06-16 09:32] #163 closed

[2018-06-16 10:41] devCrossNet commented on #141
Let‘s create a new ticket for this 👍

[2018-06-16 10:41] #141 closed

[2018-06-18 08:12] #155 closed

[2018-06-18 10:40] #164 closed

[2018-06-19 12:27] tvogt opened #170 "counter does not work on iPhone"
## Bug Report or Feature Request (mark with an `x`)
[code]

## Versions.
[code]

## Repro steps.

clone, install, run
access system on local network (computername:3000) from iPhone
site comes up, everything fine
go to counter page
press increment and decrement buttons
number does not change

[2018-06-19 14:19] devCrossNet commented on #170
hey @tvogt,

did you already figure out why it's not working? If it's critical for you that it works right now, I recommend using [ngrok](https://ngrok.com/).

That's much better for your use case 👍

[2018-06-19 14:28] devCrossNet commented on #170
@tvogt forget about the ngrok thing. the problem is that you have a different URL than the baseUrl in the file `./src/app/config/default.json`. That leads to a CORS violation.

you have two options:
- implement CORS in the express app (guess I wouldn't do this)
- change the base URL (much easier)

I hope that helps :-)

[2018-06-19 16:16] tvogt commented on #170
yeah, it's not important. Just thought the demo app should have simple things working, or people implementing more complicated logic based on it will hit that wall and wonder why.

[2018-06-20 06:56] devCrossNet commented on #170
@tvogt I thought about it yesterday and I think we can discuss a better solution. I work always with microservices, that means I don't use the express app as an API.

The issue is that we need a hardcoded URL for the XHR requests because relative paths don't work on the server-side.

If you have an idea how it should work by default, let me know. But I guess this issue is tightly coupled to your o

[2018-06-21 07:12] devCrossNet commented on #170
I would be happy if you can create a PR for that. I thought that CORS is something every web-developer knows about. I will rethink the use-case I want to cover with the `HttpService` and try to come up with a generic solution _**or**_ documentation

[2018-06-22 05:22] paolog22 commented on #133
can we have a non-typescript variant for this build?

[2018-06-22 07:09] devCrossNet commented on #133
Hey @paolog22,
I don't have the capacity to maintain two versions of this project and typescript is also one of the value propositions of the vue-starter because it is much more scalable and safe than vanilla javascript.

Give it a try 👍

[2018-06-22 07:51] paolog22 commented on #133
@devCrossNet this seems great.. sure my next project i will use this :) thank you

[2018-06-22 11:50] devCrossNet opened #171 "component: toggle"
something like this:
<img width="143" alt="screen shot 2018-06-22 at 13 49 15" src="https://user-images.githubusercontent.com/1667598/41775154-16c9f8d0-7623-11e8-93a4-b294f139b923.png">

[2018-06-22 11:51] devCrossNet opened #172 "component: pop-over"
something like this:
<img width="357" alt="screen shot 2018-06-22 at 13 51 31" src="https://user-images.githubusercontent.com/1667598/41775225-6512ac6c-7623-11e8-873c-72df18ffed40.png">

[2018-06-22 11:58] devCrossNet opened #173 "component: sidebar"
something like the foodora app

[2018-06-25 10:08] devCrossNet commented on #99
first idea:
https://github.com/source-code-customs

[2018-06-26 13:01] devCrossNet opened #174 "refactor: get rid of the event bus"
do we really need the event bus?

or do we just have the notifications as part of the app-state?

[2018-06-28 12:41] #171 closed

[2018-07-04 09:49] devCrossNet opened #177 "replace font-awesome with proper SVG's"
- find a way to organize SVGs
- SVG sprite?
- every SVG as a component?
- a single component with all the SVGs included?
- a single component with lazy loaded SVGs?

[2018-07-04 09:56] devCrossNet commented on #177
https://icomoon.io/app/#/select

[2018-07-04 15:02] devCrossNet opened #178 "component: cookie consent"
GDPR bla bla, everyone needs it bla bla

[2018-07-05 12:43] devCrossNet commented on #59
feel free to switch to puppeteer too

[2018-07-07 18:46] #178 closed

[2018-07-07 23:13] #177 closed

[2018-07-12 08:00] devCrossNet opened #181 "add string interpolation to winston config"
[code]

[2018-07-13 08:35] devCrossNet opened #182 "change default vuex states to a factory function"
this will make it much easier to reset a state and it would make it also easier for testing

[2018-07-14 14:38] #181 closed

[2018-07-14 15:17] devCrossNet commented on #174
I don't see an issue right now, it's good to show-case how to use a global event bus

[2018-07-14 15:17] #174 closed

[2018-07-14 15:31] #182 closed

[2018-07-18 14:09] xMartin opened #184 "Add navigation progress indicator"
## Bug Report or Feature Request (mark with an `x`)
[code]

## Desired functionality.

Add navigation progress indicator like https://github.com/hilongjw/vue-progressbar.

For routes that wait for data the UI can feel unresponsive as the browsers loading indicator does not work with client-side page transitions. Would be nice to have a solution integrated in the starter.

[2018-07-18 14:15] devCrossNet commented on #184
do you want to try to implement it by yourself?

[2018-07-18 15:46] xMartin commented on #184
Will try to get there as soon as I have my basic app running.

[2018-07-19 10:03] devCrossNet opened #185 "component: maps"
## Bug Report or Feature Request (mark with an `x`)
[code]

it would be interesting to have a map component e.g. a nice leaflet integration or something like that.

[2018-07-22 15:00] xMartin commented on #184
See #186 for a discussion on how to best implement this.

[2018-07-24 03:15] SilverLeaves opened #188 "A word problem —— localisation, I want to make sure that the word is "beast" or "best"."
## A word problem —— “*Beast* mode playlist on Youtube” in productivity tip of introduction.md
[code]

## Versions.
[code]

## Repro steps.
[code]
And then click  "get started" & scroll to productivity tip

## Desired functionality.
I'm working for localisation. I need a reasonable translation. I want to make sure that the word is "beast" or "best".

### Mention any other details that might be use

[2018-07-24 05:47] devCrossNet commented on #188
Heyyy 🙂

It is beast mode.

That means that you code like a beast - focused, fast and without any distractions 👍

[2018-07-24 08:05] SilverLeaves commented on #188
Ok, 🙂!

[2018-07-24 08:05] #188 closed

[2018-07-25 11:00] SilverLeaves opened #191 "Build SPA: "npm run build:spa" not work correctly & a long time for build"
## "npm run build:spa" not work correctly
[code]

## Versions.
[code]

## Repro steps.
[code]

## Desired functionality.
* SPA without server-side
* A short time to clean up
* A short time to build

### Mention any other details that might be useful.

*  SPA always show error for me. Whatever language it is.

![The SPA not work correctly](https://user-images.githubusercontent.com/31165554/43196551

[2018-07-25 11:15] SilverLeaves commented on #185
Do you mean Google map components and Baidu map components?

[2018-07-25 11:16] devCrossNet commented on #191
I think you translated something wrong in one of the i18n files. I'll fix that asap (https://github.com/devCrossNet/vue-starter/blob/master/i18n/en.json#L3)

the build on my machine takes 2 minutes. can you give me more information about your operating system etc.?

[2018-07-25 11:18] devCrossNet commented on #185
I want to show how to use leaflet.js or something similar (but I think this is the most optimized map) in the vue-starter.

there are already vue-leaflet implementations but they create a lot of overhead. I am not quite sure if the idea will last because it's not such a common use-case

[2018-07-25 11:30] SilverLeaves commented on #191
## hardware

![default](https://user-images.githubusercontent.com/31165554/43198304-c56f96ec-9040-11e8-8fcc-98e91275587f.png)
## hardware
![default](https://user-images.githubusercontent.com/31165554/43198361-f89ab5ce-9040-11e8-9056-900ea691265c.png)
## system lastest windows10
![default](https://user-images.githubusercontent.com/31165554/43198390-14490b9a-9041-11e8-895a-dadf557f1417.png)

[2018-07-25 11:31] devCrossNet commented on #191
But should it not be `Chinese`?

In the English language, you see the English translation for Chinese.
In German, you see the German translation for Chinese, etc.?

Or is it common to display `中文` just in case the Chinese audience cannot read English at all?

[2018-07-25 11:37] devCrossNet commented on #191
yes, you have to educate me a little bit 😊

I never did something for the Chinese market.

[2018-07-25 11:39] devCrossNet commented on #191
regarding the performance. I have the same issue on my DELL workstation with windows 10. I already reached out to the support, the NPM team and some people from Microsoft and the answer were more or less "it works on my machine".

I have no idea why Win is so slow sometimes. A normal `npm install` on my DELL workstation takes at least 10 minutes.

[2018-07-25 11:41] SilverLeaves commented on #191
I think Microsoft is doing a good job. Very friendly，Very kindly.
![default](https://user-images.githubusercontent.com/31165554/43198731-3daae016-9042-11e8-90f2-db21ba8d8dd9.png)

[2018-07-25 11:43] devCrossNet commented on #191
yes, it makes total sense now. I mean the only people who have to understand it are the people that are actually speaking the language.

That means we could get rid of the translations for the languages at all and hardcode them for every locale in the target language.

[2018-07-25 11:52] SilverLeaves commented on #191
About `npm install` , in china ,it slowly too.

but we have `cnpm`, a mirror of npm repertory. you can try [cnpm](https://npm.taobao.org/)

## install
[code]
## use
[code]

[2018-07-25 11:58] devCrossNet commented on #191
wow, this is impressive 👍

but back to your issue. I have no answer why it is so slow on windows and I will fix the translation issue in a few hours. maybe we can leave this open and see if we find a solution in the future.

[2018-07-25 12:08] SilverLeaves commented on #191
On language selection, I didn't mean any offense. It's up to you.

[2018-07-25 12:09] SilverLeaves commented on #191
In my issue, the best important thing is **SPA always show error for me. Whatever language it is.**

[2018-07-25 12:11] devCrossNet commented on #191
I didn't understand it as an offense. I learned something from you, that's great!

I'll have a look at the SPA build later. how do you serve the SPA? with a locally installed web-server or something?

[2018-07-25 12:40] SilverLeaves commented on #191
I use  `Object Storage Service (OSS)` to provide static resources. I paid 9RMB (about 1.33 dollar) for 40GB storage space with 1year. Data flow is 0.8RMB (about 0.12 dollar) for 1GB.

And I put my `SPA page` or `.html page` in OSS, then I get a webstation. like [this page](http://oss.saigao.fun/playground/tensorflowPlayrouund/index.html) or [this page -rustdocs](http://rustdoc.saigao.fun/)

If I n

[2018-07-25 12:44] devCrossNet commented on #191
ok, I tested it out locally with a python HTTP server which serves the index.html and it works as expected.

Are you serving the index.html in the root of your domain or is it in a subdirectory? (something like `example.com/vue-starter` instead of `example.com`).

and can you provide the console output, there should be the error stack trace.

[2018-07-25 12:50] SilverLeaves commented on #191
* Open "localhost:8000" then it auto jump to  "localhost:8000/error"

![截图](https://user-images.githubusercontent.com/31165554/43201757-f5181dc8-904b-11e8-8b80-504be4b75107.png)

Maybe I'm not good enough, so it doesn't show me normally. ๑乛◡乛๑

[2018-07-25 12:58] SilverLeaves commented on #191
## Log from chrome

![default](https://user-images.githubusercontent.com/31165554/43202137-271b45e2-904d-11e8-951d-f5c61a0e4f16.png)

## Log from firefox

![default](https://user-images.githubusercontent.com/31165554/43202163-448b3f10-904d-11e8-8096-84be0f9907f9.png)

![default](https://user-images.githubusercontent.com/31165554/43202223-7d7c35f4-904d-11e8-83c7-b7e396f69bd8.png)

[2018-07-25 13:00] devCrossNet commented on #191
ahh, yes I see. ok, this has to be fixed. I will include the fix with the changes later. I'll write you as soon as I deploy it, then you can update your copy 👍

[2018-07-25 13:33] maunoxyd opened #192 "component: rating"
## Bug Report or Feature Request (mark with an `x`)
[code]

## Desired functionality.
Would be nice to have a rating component like https://jsfiddle.net/craig_h_411/992o7cq5/

[2018-07-25 14:52] xMartin opened #193 "Don't change route in 404 or error"
## Bug Report or Feature Request (mark with an `x`)
[code]

## Desired functionality.

When requesting a route that does not exist or that throws an error when rendering, the client-side code changes the routes to either `/not-found` or `/error` to render the respective error page. It would be better to render this content without changing the route just as it is done server-side.

[2018-07-25 15:28] xMartin opened #194 "Redirects not working on server side"
## Bug Report or Feature Request (mark with an `x`)
[code]

## Repro steps.

**Steps:**
1. Configure a redirect in a routes file, e.g. in `src/app/counter/routes.ts`, add `    redirect: '/',`
2. Load `/counter` in the browser

**Actual behavior:**
The server responds with `200 OK` and serves the home page. Then the client will change the path to `/`.

**Expected behavior:**
The server responds wit

[2018-07-25 15:35] xMartin opened #195 "Allow redirecting depending on initial data being fetched"
## Bug Report or Feature Request (mark with an `x`)
[code]

## Desired functionality.

For certain cases like getting an "unauthorized" response for an API request you might want to automatically redirect the user to another page, e.g. a login page.

### Mention any other details that might be useful.

With the current setup this could be done in the `prefetch` methods on page components or the `H

[2018-07-25 15:36] xMartin commented on #195
See also #194

[2018-07-25 15:41] SilverLeaves commented on #191
Creator of vuejs is Chinese & then vuejs in china is very popular.

So ... ennn ... maybe ... I guess ... exactly ... I think ... actually ..

**Now, vue-starter is something what you're doing for the Chinese market.**

[2018-07-25 16:47] devCrossNet commented on #191
@SilverLeaves I fixed the issue, it was a simple fix: https://github.com/devCrossNet/vue-starter/commit/ec14fa065488b3e98c71465594cc26d34c9e438b

I also updated the i18n language stuff as discussed, makes much more sense now. Thanks for your input.

if you want to get the updated run `npm run update`

[2018-07-26 03:29] #191 closed

[2018-07-26 14:49] #184 closed

[2018-07-26 16:09] SilverLeaves opened #198 "chat || discussion: vue-cli 3 is coming, chat || discuss something?"
## chat || discussion

Vue-cli 3.x is a complete rewrite, with a lot of new awesome features. You will be to select features like routing, Vuex or Typescript, then add and upgrade building blocks called "vue-cli plugins". But having so much more options also means the tool is now more complex and harder to start using. That's why we thought having a full-blown GUI would help discover the new featu

[2018-07-26 16:46] devCrossNet commented on #198
You might wanna join our slack channel https://slack-vue-starter.herokuapp.com ?

[2018-07-27 01:37] #198 closed

[2018-07-27 16:11] xMartin commented on #193
Test case to be implemented:
[code]
(Unfortunately Cypress doesn't support assertion of HTTP status codes.)

[2018-07-27 17:58] devCrossNet commented on #193
[code]

[2018-07-27 19:09] xMartin commented on #193
Great! I can use it for the redirect stuff, too.

[2018-07-27 20:29] #194 closed, assigned to xMartin

[2018-07-28 13:45] devCrossNet commented on #193
@xMartin now I know why I implemented the client side redirect.

If you render the error page on the server and the client side app takes over, it can not find the route and renders nothing instead.

I don't know how to prevent the re-rendering in the client.

[2018-07-28 13:49] xMartin commented on #193
Yes, I know it's a tricky one. Needs to be implemented outside of standard routing.

[2018-07-28 13:51] devCrossNet commented on #193
I don't want to hack it somehow. maybe we come back to this later 👍

[2018-07-30 21:17] kuite opened #203 "Date picker flickering and flying on firefox"
## Bug Report or Feature Request (mark with an `x`)
[code]

## Versions.
[code]

## Repro steps.
Go to components
Click select/pick date
Date picker flickering and flying on firefox
Date picker images not fully loaded in edge

## Desired functionality.
datepicker working as on chrome

### Mention any other details that might be useful.

[2018-07-31 08:56] devCrossNet commented on #203
wow, that's a really strange behavior and FF makes it really hard to debug.
The devTools are really not that good. 😒

I try to figure out why this happens. after a few clicks, it works one time.

[2018-07-31 09:02] devCrossNet commented on #203
it works in the FF responsive design mode...really strange

[2018-07-31 09:49] devCrossNet commented on #203
I think I got it, can you change your vueModal code with this and test it? That would be a big help 👍

[code]

[2018-07-31 18:58] kuite commented on #203
I was just exploring boilerplates, glad I could submit bug but I will not test it, sorry.

[2018-07-31 19:41] devCrossNet commented on #203
Ok, thank you for reporting this issue 👍

[2018-08-04 11:47] #203 closed

[2018-08-07 14:25] #195 closed

[2018-08-10 20:03] mkirstetter commented on #133
How do you plan to do with the sketch thing? I'm currently at sketching on a new project

[2018-08-11 21:05] devCrossNet commented on #133
@mkirstetter our design team is currently working on a design system. I don't know when it's finished but as soon as it is finished I will plan version 2 of the starter and implement the new design system.

[2018-08-16 09:17] devCrossNet opened #207 "ship ES2015+ for modern browsers and provide a fallback for older browsers"
**Is your feature request related to a problem? Please describe.**
Add a feature to ship less code to modern browsers and provide an es5 bundle for older browsers + polyfills.

**Describe the solution you'd like**
https://philipwalton.com/articles/deploying-es2015-code-in-production-today/

[2018-08-16 12:45] stavros-liaskos opened #208 "Engines in package json incosistend and breaking yarn"
When I run `yarn` I get:
`The engine "node" is incompatible with this module. Expected version "8.11.1"`

I know `yarn` is not listed at README but it's listed:
[code]
so I would expect that be reflected in `package.json`

**To Reproduce**
Steps to reproduce the behavior:
1. `git clone`
2. `yarn`
3. See error

**Expected behavior**
Flawless installation

[2018-08-16 13:47] #208 closed

[2018-08-23 10:01] devCrossNet opened #210 "docs: add tutorial how to prefetch data on the server"
it's not really clear why we have prefetch as a static method on connected components, we should provide docs for this

[2018-08-23 10:03] devCrossNet opened #211 "docs: add a recommended architecture page"
I often see people that want to use vue or the vue-starter together with a PHP backend which makes no sense. We should add a recommendation on how the architecture should look like in order to use the vue-starter (and put some nice diagrams on it).

[2018-08-23 14:40] zelid opened #212 "SSR compilation issue on iView and bootstrap-vue"
I've tried to install iView and bootstrap-vue components with vue-starter one by one according to instructions on their websites.

Everything works fine until the first time SSR happens. Looks like the issue is related to vue-starter because few Vue libraries fails the same way.

This is the error:
`[1] error: error during rendering: /shop; error: {"stack":"/Users/alex/Workspace/kmb-ts/vue-starter

[2018-08-23 14:46] devCrossNet commented on #212
Hey @zelid thanks for reporting this.

I will try to reproduce it later this week and come back to you. My first guess is that you have to add a webpack-loader for CSS files in the webpack base config. because the vue-starter is just set up for SCSS/SASS.

You can try it by adding one in the meantime and see if it works.

[2018-08-24 17:25] farahbrunache opened #213 "component: breadcrumbs"
**Describe the solution you'd like**
As my app becomes more nested having breadcrumbs would be nice UI feature, e.g. https://codepen.io/oknoblich/pen/EAzBc

[2018-08-24 17:40] devCrossNet commented on #213
Nice one, I wanted to add this feature request last week but forgot about it. Will implement it asap 👍

[2018-08-27 05:31] SilverLeaves commented on #210
This is a small problem, but behind him is a big problem. This is the tip of the iceberg.

Tools do not solve the problem of programmer's knowledge. Tools can only reduce the difficulty of their use, but the ease of use of tools is positively related to complexity.

Easy to use and easy to learn, which one is what you want?

[2018-08-27 05:37] SilverLeaves commented on #211
This is a small problem, but behind it is a big problem. This is the tip of the iceberg.

Tools do not solve the problem of programmer's knowledge. Tools can only reduce the difficulty of their use, but the ease of use of tools is positively related to complexity.

A man can't spin and weave at the same time. Of course, maybe you can, but it will be not easy to do.

Easy to use and easy to learn,

[2018-08-28 13:17] stavros-liaskos opened #214 "dockerfile not working + missing docs"
**Describe the bug**
Docker build is failing and docker is lacking documentation

**To Reproduce**
Steps to reproduce the behavior:
1. `docker build .`
2. See error

**Expected behavior**
Successfully built docker image

**Desktop (please complete the following information):**
 - OS: macOS

**Additional context**
I made the fix. Submitting PR asap

[2018-08-28 13:36] stavros-liaskos commented on #214
Hmmm.. A bit out of the scope of this ticket but I'm stuck at line:78 of [Contributing docs](https://github.com/devCrossNet/vue-starter/edit/master/.github/CONTRIBUTING.md).
I throws:
[code]
Am I even allowed to push a new branch?

[2018-08-28 13:54] devCrossNet commented on #214
@stavros-liaskos hey, you have to fork the repository to your github account and create a PR from your branch to the next branch in this repo 👍

Thank you very much 😊

[2018-08-29 13:12] petronius opened #216 "Using the store in `router.beforeEach()` breaks VueNavBar component Storybook"
**Describe the bug**

Because the global `CLIENT` is undefined in `store.ts`, if the store gets imported indirectly by a story in Storybook, it will break Storybook with a rather cryptic error. I assume this is because Storybook is setting the `"use strict"` pragma somewhere.

The error looks like this:
[code]

In my case, this was because the `VueNavBar.stories.ts` imports the router, which in tu

[2018-08-29 14:00] petronius opened #218 "Using i18n in shared components breaks Storybook"
**Describe the bug**
Using i18n with `$t()` in a shared component will throw an error in Storybook:
[code]

**To Reproduce**
Steps to reproduce the behavior (on a fresh setup of `vue-starter`):
1. Add the following to a shared component (for example, `VueNavBar`):
[code]
2. Run `npm run storybook`
3. Select the component in Storybook
4. See error

**Expected behavior**
Showing the default i18n tex

[2018-08-29 14:08] petronius commented on #218
This looks related to https://github.com/storybooks/storybook/issues/1573

So you can actually avoid this error by adding the following to a component that uses i18n:
[code]

But maybe there is a way to do this automatically, with the current translation strings loaded, for all stories that Storybook loads?

[2018-08-29 14:47] devCrossNet commented on #218
have a look at the storybook from the VueCalendar: https://github.com/devCrossNet/vue-starter/blob/master/src/app/shared/components/VueCalendar/VueCalendar.stories.ts#L13

this should solve the problem 😊

[2018-08-29 14:56] devCrossNet commented on #216
I wouldn't suggest accessing the store inside a shared component. That is against the concept of having decoupled, reusable components.

Try to always pass down this values as a `prop` 👍

[2018-08-29 15:09] petronius commented on #216
In this case, the component isn't accessing the store, but the story is importing the router (in order to pass it to the component), which in turn imports the store.

Is there a better way to reference the store in the router, without importing it directly?

[2018-08-29 15:16] devCrossNet commented on #216
ok, I understand. I'll try to come up with a solution 👍

[2018-08-29 15:17] petronius commented on #218
Much cleaner, thanks! Closing this as a case of "bad error messages generated by dependencies" 😀

[2018-08-29 15:17] #218 closed

[2018-08-30 06:58] stavros-liaskos opened #219 "ESLint"
**Is your feature request related to a problem? Please describe.**
Lack of ESLint allows devs to write vague code syntax and conventions

**Describe the solution you'd like**
- I've worked before with [Nuxt's](https://github.com/nuxt/nuxt.js) eslint config and I suggest to integrate that as a solution
- Beautify and ESLint should not conflict each other
- (optional) git hooks for ESLinting on prec

[2018-08-30 07:32] stavros-liaskos commented on #219
@devCrossNet It doesn't lint the `.vue` files while typing though nor on precommit. It lints only `.ts` files and runs the tests. Am I right? TBH, I am not familiar with TSLint.

[2018-08-30 09:29] devCrossNet commented on #219
@stavros-liaskos then let's try to get TSLint working with .vue files. I'll do some research if I have some time

[2018-08-30 10:02] stavros-liaskos commented on #219
I see what you mean now. Although eslint was doing great I stumbled upon the problem of not being able to read the lang=ts. Which means I can’t exlude files based on that and of course eslint throws errors on some typescript specific commands. That takes eslint out of the table then.
I’m switching to tslint and I will focus on optimising that. Unfortunately, currently I don’t have linting while ty

[2018-08-30 10:09] devCrossNet commented on #219
tweak everything that it fits your project, this is exactly why I made the starter. everything you want to change is changeable - nothing is hidden or can't be changed.

I'll have a look at linting the .vue files asap. I am a little bit busy right now with my job. I will share my progress in this thread but it can take some time 👍

[2018-08-30 10:13] devCrossNet opened #220 "docs: add guide to integrate with 3rd party UI libraries"
- docs for integrating vuetify / bootstrap / element or just one of them
- how to handle libraries that reference browser features

[2018-09-01 17:09] #214 closed

[2018-09-01 18:43] #211 closed

[2018-09-02 17:52] SilverLeaves opened #223 "Question: What is the difference between “starter” and "begainner"?"
I am sorry to ask this question. Because I couldn't find a reasonable explanation on the Internet.

I'm a little confused about these two words.

eg:
I'm a kid, I'm starting to learn "vue-starter".
Question: Starter or begainner, which I'm?

I'm Engineer, I'm starting to use "vue-starter".
Question: Starter or begainner, which "vue-starter" is?

(╥╯^╰╥)

[2018-09-02 17:55] devCrossNet commented on #223
do you mean "beginner"? can't find the word "begainer" in a dictionary 😊

[2018-09-03 08:13] stavros-liaskos commented on #219
I am afraid editor support for TSLint is [not possible](https://github.com/palantir/tslint/issues/2099) at the moment. Even when initializing a project with vue-cli v3: `vue create hello-world` and choosing typescript linter,  editor still ignores the rules.
Note that I am using PhpStorm and that is still an [open issue](https://youtrack.jetbrains.com/issue/WEB-31044).

[2018-09-03 08:37] devCrossNet commented on #219
good to know. but I think it would still be good to have the `npm run lint` task working with .vue components.

[2018-09-03 09:57] SilverLeaves commented on #223
@devCrossNet Yeah, you're right.

[2018-09-03 10:01] devCrossNet commented on #223
beginner is related to a `person` that just starts to learn something and starter is related to a `thing` to get started

for example, if you have a menu in a restaurant and you order a starter - that means you have something small to eat before you eat the main dish.

translated to tech - a starter/kitchen sink/boilerplate is something you can take and build on top of it

[2018-09-03 10:06] SilverLeaves commented on #223
I'm a kid, I'm starting to learn "vue-starter".
Question: Starter or begainner, which I'm?
My answer：“beginner”

I'm Engineer, I'm starting to use "vue-starter"
Question: Starter or begainner, which "vue-starter" is?
My answer：“Starter”

Right？

[2018-09-03 10:09] devCrossNet commented on #223
it's two different things. if you start using vue you are a beginner and use the vue-starter. if you are an advanced engineer you're using the vue-starter but you're not a beginner anymore.

[2018-09-03 10:12] SilverLeaves commented on #223
@devCrossNet Thank you for your answer.😊

[2018-09-03 10:12] #223 closed

[2018-09-06 14:39] stavros-liaskos commented on #219
I implemented ESLint, TSLint and Stylelint with the following configuration:
`package.json`:
[code]
`tslint.json`:
[code]
`.eslintrc.js`:
[code]
`.stylelintrc`:
[code]
There are 2 downsides:
1. It requires to edit dozens of files since `--fix` doesn't work for every single rule
2. `.vue` file with `lang=ts` must be added to a `.eslintignore` since there are cases that typescript throws syntax erro

[2018-09-07 15:04] Heimathandel commented on #220
That'd be really helpful. Especially vuetify

[2018-09-07 19:45] devCrossNet commented on #220
Would appreciate some help 🙂

[2018-09-12 14:39] glederer commented on #220
It seems the project was started with a very opiniated vision on the usage of "storybook generated components". I guess adding/replacing with other libs like vuetify (I had in mind here vuesax :) but it is the same question ) is not that trivila as thios mean completely cleaning the "src/shared/components" folder of its content in the boilerplate, am I right?

[2018-09-12 17:31] devCrossNet commented on #220
@glederer you shouldn't care about deleting stuff. If you do not reference any shared-components they will not be bundled. And if you need one of them for some reason you just reference it again.

One reason it is not built with UI libraries is mentioned in the introduction: https://vue-starter.herokuapp.com/docs/introduction.html#this-is-not-just-another-starter-project

**TL;DR:** I didn't find

[2018-09-12 18:46] devCrossNet commented on #220
@Heimathandel @glederer see #225

[2018-09-13 10:20] glederer opened #226 "Add documentation of the PWA features"
**Is your feature request related to a problem? Please describe.**
Just asking fof more nice doc ;)

**Describe the solution you'd like**
A clear example of benefit of the PWA support, what are the files/ parts actually making the boilerplate actually supporting it.

**Describe alternatives you've considered**
Might be convinient to show some screenshot/ video of PWA user experience of any demo fe

[2018-09-13 14:08] #220 closed

[2018-09-13 15:38] #226 closed

[2018-09-13 15:53] glederer commented on #226
Awesome! Thanks!

[2018-09-13 16:05] devCrossNet commented on #212
@zelid see the new documentation section: https://vue-starter.herokuapp.com/docs/guide/third-party.html

this should help you even if it's a guide for vuetify.

[2018-09-14 09:15] glederer commented on #220
Hello,

I tested this locally on a fresh git clone, I did all steps as described in this page  except the "clean up" part, assuming that we change the main app.vue componenent so I guess this should work.

I still get this error when trying to run locally :

End of build says :

`ERROR in ./src/app/app/App/App.vue?vue&type=style&index=0&lang=css& (./node_modules/vue-loader/lib??vue-loader-options!

[2018-09-14 13:43] devCrossNet commented on #220
it seems that the css-loader doesn't work. can you provide some code?

[2018-09-14 13:48] devCrossNet commented on #220
I forgot a snippet, sorry

webpack.base.config.js:
[code]

[2018-09-14 14:01] glederer commented on #220
many thanks @devCrossNet, it does work now.

[2018-09-21 09:38] devCrossNet opened #231 "performance iteration"
we have to keep things performant and I want to profile the current performance based on this article: https://philipwalton.com/articles/idle-until-urgent/

[2018-09-21 10:03] devCrossNet commented on #231
https://css-tricks.com/the-critical-request/

[2018-09-21 13:05] devCrossNet opened #232 "docs: add issue-hunt + all-contributors"
reference to issue-hunt funding + https://github.com/kentcdodds/all-contributors

[2018-09-21 13:10] devCrossNet commented on #232
## Sponsor
If you like what we're doing here, you can help us by funding the work on specific issues that you choose by using IssueHunt.io!

This gives you the power to prioritize our work and support project contributors. Moreover, it'll guarantee the project will be updated and maintained in the long run.

[![issuehunt-image](https://github.com/BoostIO/issuehunt-materials/blob/master/issuehunt-b

[2018-09-22 13:39] #232 closed

[2018-09-22 15:36] #212 closed

[2018-09-22 15:38] #99 closed

[2018-09-22 15:38] #83 closed

[2018-09-22 15:39] devCrossNet commented on #83
no one else did request this feature so I close this issue and focus on other topics.

[2018-09-22 15:40] devCrossNet commented on #59
closed because travis ci does the job.

[2018-09-22 15:40] #59 closed

[2018-09-22 15:59] devCrossNet commented on #84
ok, I played around with it together with TSLint and lint-staged. the formatting is not what I want and the prettier configuration is really limited. I don't want to have this in the project.

[2018-09-22 16:01] devCrossNet commented on #170
I added a new section to the docs where I describe how to set up the architecture for the vue-starter, anything else will not be covered by our support. https://vue-starter.herokuapp.com/docs/introduction.html#recommended-architecture

[2018-09-22 16:01] #170 closed

[2018-09-24 00:02] SilverLeaves commented on #185
https://openlayers.org/

[2018-09-24 07:02] devCrossNet commented on #185
@SilverLeaves open layers is a really huge library compared to leaflet.
I already worked with several maps starting from google maps over open layers ending with leaflet.
so from my experience leaflet is the lib that is most performant.

[2018-09-24 09:28] devCrossNet commented on #216
I found a way to mock the router for storybook: https://github.com/devCrossNet/vue-starter/pull/234/files#diff-67a42cc74b668d1e7710029c548f276c

I'll try to reproduce your example and mock the router, if this works I'll close this issue.

[2018-09-24 09:54] angeliski commented on #137
Hey @devCrossNet You can explain better why? Just to understand the cons

[2018-09-24 09:58] devCrossNet commented on #137
Of course. I set up a vue-cli project with typescript and all of the stuff that the vue-starter has by default (ts-lint, cypress, testing, etc) expect of SSR. and the type checking was not as good as we have it already. also the dev server was much slower than what we have at the moment. the test-setup was not made for CSS-modules and some other things. I don't know how far we can tweak all the th

[2018-09-24 10:16] angeliski commented on #137
Really, not so good. Let's waiting for improvements in the vue-cli. Thanks for your explication.

[2018-09-24 21:19] xMartin commented on #193
Unfortunately I wrote "404 or error". I'm still working on the error part, it's tricky. I'd leave it open a bit longer if you don't mind. Otherwise we can open a new issue for the error (500) case, adjust the title of this one and close it.

[2018-09-25 05:49] devCrossNet commented on #193
Let’s leave it open 👍

[2018-09-26 07:58] devCrossNet opened #235 "webpack config iteration"
currently, the type checking in dev mode is disabled because the ts-loader is so slow and it takes ages to get the dev env up and running.

Would be good to have another look at it to enable type checking again, maybe with a different loader.

[2018-09-29 10:31] devCrossNet opened #236 "test iteration"
create detailed coverage per component and fill the missing tests

[2018-09-29 10:32] devCrossNet opened #237 "custom renderer for data-table"
I want to have custom render option for cells in the data table, e.g. date, dateTime, currency, etc.

[2018-09-29 20:29] #235 closed

[2018-09-30 10:38] #237 closed

[2018-09-30 10:38] #236 closed

[2018-10-02 09:20] devCrossNet opened #241 "typing for prefetch message should be a promise"
add return type for prefetch function

[2018-10-02 14:32] devCrossNet opened #242 "improve test blueprint for connected components"
store should be outside the test and initialized in the beforeEach hook

[code]

[2018-10-02 14:34] devCrossNet commented on #133
progress can be seen here: https://github.com/devCrossNet/vue-starter/tree/refactor/ui

[2018-10-02 15:38] jmcdo29 commented on #241
I'd love to help out with this. You may need to point me to where the prefetch function is though

[2018-10-02 15:47] devCrossNet commented on #241
hey @jmcdo29
here is the line of code: https://github.com/devCrossNet/vue-starter/blob/master/src/vue.plugins.d.ts#L14

[2018-10-02 16:14] jmcdo29 commented on #241
I've currently set it to Promise<any>. Is there a specific return type the promise should have?

[2018-10-02 16:29] devCrossNet commented on #241
`any` type is ok, that’s what most of the libraries use in that case. Generics would be an Overkill at this Point.

Von: Jay McDoniel
Gesendet: Dienstag, 2. Oktober 2018 18:14
An: devCrossNet/vue-starter
Cc: Johannes Werner; Author
Betreff: Re: [devCrossNet/vue-starter] typing for prefetch message should be apromise (#241)

I've currently set it to Promise. Is there a specific return type the prom

[2018-10-03 20:07] #241 closed

[2018-10-05 10:11] devCrossNet opened #244 "modal: close on outside click, ESC press, route transition"
As a user, I want to be able to close the modal dialog if I press outside of the modal or press ESC. I also want to let the modal close if I use the browser navigation

[2018-10-05 10:41] devCrossNet opened #245 "tab: add property to pre-select a tab"
in case I want to display any other tab than the first one

[2018-10-06 15:09] #242 closed

[2018-10-06 15:33] #245 closed

[2018-10-09 11:00] devCrossNet opened #249 "component: Dropdown"
selects are good but sometimes designers want to have drop-downs.

- use the right ARIA labels
- Keyboard should work

[2018-10-10 12:46] devCrossNet opened #250 "webpack performance budget"
https://medium.com/webpack/webpack-performance-budgets-13d4880fbf6d

[2018-10-10 12:55] ooxaam commented on #172
Hi, I would like to work on it. Can you kindly elucidate it a bit more.

Cheers :+1:

[2018-10-10 15:07] devCrossNet opened #251 "Datatable: add row to scoped slot"
right now we only have the cell in the scoped slot, it would be nice to have the row as an object also available.

use case:
you have a delete button in a custom cell renderer and you want to have access to the id of the row.

[2018-10-10 15:23] devCrossNet opened #252 "Datatable: add sortable and fitWidth option for columns"
I would like to make columns not sortable and I want to have columns that are not always equally distributed.

[2018-10-11 09:58] devCrossNet opened #254 "tooltip: add property to programmatically suppress tooltip"
use case: I want to show a tooltip as a hint on a disabled button, but when the button is enabled I don't want to show the tooltip.

[2018-10-11 10:04] devCrossNet commented on #172
@ooxaam If you want you can also use the next branch as the base branch and I will add this feature to the 1.4.0 milestone. I think it's better to have another release before version 2.0.0

[2018-10-12 09:19] devCrossNet opened #257 "input: add auto focus property that works in an SPA context"
the HTML autofocus attribute only works on page load. in a single page context I want to be able to autofocus text fields as they appear e.g. in a modal dialog:

sample code:

[code]

[2018-10-12 14:20] devCrossNet opened #258 "Accessibility testing automation"
We should figure out how we can automate the test of accessibility of the components, this could play well together with automating #250

[2018-10-12 14:49] devCrossNet opened #259 "accessibility iteration"
not all components are optimized for accessibility at the moment, we should take another round on all of them and see how we can improve them.

[2018-10-12 18:39] devCrossNet opened #260 "remove css for making sure the alt tag of an image is not empty"
https://github.com/devCrossNet/vue-starter/blob/master/src/app/shared/styles/global.scss#L10

empty alt tags are ok, but images without alt tags are not.

[2018-10-13 15:04] #251 closed

[2018-10-13 15:04] #252 closed

[2018-10-13 15:13] #254 closed

[2018-10-13 19:57] #173 closed

[2018-10-14 09:53] #250 closed

[2018-10-14 09:53] #257 closed

[2018-10-14 09:53] #260 closed

[2018-10-14 09:54] #249 closed

[2018-10-16 17:06] ooxaam commented on #172
Thanks, I'll follow the instructions :)

[2018-10-18 01:29] joaopbini opened #268 "The portuguese translation is wrong"
The Portuguese translation has several words still in English.

[2018-10-18 01:53] #268 closed

[2018-10-18 07:46] stavros-liaskos opened #270 "Yarn test fails"
**Describe the bug**
`yarn test` fails

**To Reproduce**
Steps to reproduce the behavior:
1. `git clone https://github.com/devCrossNet/vue-starter`
2. `yarn`
3. `yarn test`
4. See error

**Expected behavior**
Tests must pass:
[code]

**Info**
[code]

[2018-10-18 11:55] devCrossNet commented on #151
https://github.com/vuejs/vue-ssr-docs/issues/166

[2018-10-19 15:37] stavros-liaskos commented on #270
Pasting only the errors:

[code]

[2018-10-19 15:46] devCrossNet commented on #270
I get the same error with npm if it does install the latest version of jsdom. It should use version 11 of jsdom

[2018-10-20 06:41] devCrossNet commented on #270
I would recommend to use npm then. I can not assist with yarn because I don’t use it 😕

[2018-10-22 07:02] stavros-liaskos commented on #270
It would be nice instead of a bug to consider this a new feature. Yarn is quite faster and has other benefits too

[2018-10-22 18:15] devCrossNet commented on #270
@stavros-liaskos I figured it out. it is not a yarn issue itself but I fixed the jsdom-localStorage issue, will be fixed in the v1.4.0 update

[2018-10-24 07:38] #270 closed

[2018-10-24 08:55] #151 closed

[2018-10-27 15:40] #133 closed

[2018-10-29 13:44] devCrossNet commented on #259
Tab should be accessible via keyboard

[2018-10-30 11:40] devCrossNet opened #281 "vue-data-table: remove calculated width"
the calculated width doesn't make sense, it's better to use the default table behavior instead of calculation. Also, remove the `fitContent` option

[2018-10-30 11:43] devCrossNet opened #282 "vue-dropdown-menu: stop propagating events"
if you use the dropdown inside the data-table, for example, it should not propagate any events because it would lead to a row click instead of the dropdown-menu click. I think this would be helpful for a lot of other contexts.

[2018-10-31 17:50] #281 closed

[2018-10-31 17:50] #282 closed

[2018-11-02 12:28] devCrossNet opened #284 "add key:value to vue typings to get rid of wrapper: any"
right now we have to have a lot of `wrapper: any` definitions in tests because typescript can't figure out the instance methods or attributes. to get rid of this situation we can define `[key: string]: any` in the vue typings.

[2018-11-02 22:18] CryptoRootz opened #285 "NPM RUN DEV Doesnt Progress , It just stays stagnate"
**Describe the bug**
A clear and concise description of what the bug is.
So i clone the vue start repo, then i did npm install , the i did npm run dev and it just doesnt progress.... it pretty much stay stagnate.....
**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of wha

[2018-11-03 09:14] devCrossNet commented on #285
Hey, I can’t see any issues in first sight. If you open http://localhost:3000 does it work or do you get any errors?

[2018-11-04 19:00] #259 closed

[2018-11-06 10:58] devCrossNet commented on #285
@CryptoRootz any news on this?

[2018-11-06 19:11] #284 closed

[2018-11-07 03:15] Davidcreador commented on #172
I want to work on this one? Is @ooxaam still working on this?

[2018-11-07 15:39] devCrossNet commented on #172
@Davidcreador I think you should go for it 👍

[2018-11-08 16:40] devCrossNet opened #286 "components: check components for inheritAttrs"
on input elements, it's sometimes not good to inherit attributes. e.g. in the VueInput the attribute tabIndex would be applied to the div instead of the input field.

[2018-11-08 20:41] devCrossNet commented on #84
with the new version of pretty it is much better to use it with vue and tslint. I will give it another try.

[2018-11-10 15:49] #286 closed

[2018-11-10 20:36] devCrossNet commented on #185
This component is not common enough to add it to the starter.

[2018-11-10 20:36] #185 closed

[2018-11-10 20:38] devCrossNet commented on #219
I close this issue since the new vue-starter version has linting in vue-files for dev-mode.

[2018-11-10 20:38] #219 closed

[2018-11-10 20:39] devCrossNet commented on #216
The mocking of the router in stories solves this issue.

[2018-11-10 20:39] #216 closed

[2018-11-10 20:42] devCrossNet commented on #285
I close this issue because of inactivity

[2018-11-10 20:42] #285 closed

[2018-11-10 20:43] devCrossNet commented on #258
not important anymore because the new vue-starter 2 has an accessibility plugin for storybook.

[2018-11-10 20:43] #258 closed

[2018-11-10 20:45] devCrossNet commented on #231
I tried most of the examples and no example led to significant performance wins. and some of them require a lot of changes.

[2018-11-10 20:45] #231 closed

[2018-11-10 20:47] #84 closed

[2018-11-12 02:52] devzsolt opened #289 "Setup with Buefy/Bulma"
I'm configuring vue-starter with Buefy based on its customized config: https://buefy.github.io/documentation/customization which would give the flexibility to override variables and create a custom build from their SASS/SCSS files.
I also used the hints from [here](https://vue-starter.herokuapp.com/docs/guide/third-party.html). However so far I couldn't manage to selectively disable the use of css

[2018-11-12 08:26] devCrossNet opened #290 "storybook: use baseConfig instead of duplicating the webpack config"
see title

[2018-11-12 15:42] devzsolt commented on #289
Update: using `oneOf` with `resourceQuery: /module/` in the webpack config and including buefy in a separate `<style>` block without the `module` argument helps. Details [here](https://vue-loader.vuejs.org/guide/css-modules.html#opt-in-usage). Perhaps worth mentioning this in the docs because most CSS frameworks expect the availability of global CSS classes while vue-starter relies on CSS modules.

[2018-11-12 15:43] #289 closed

[2018-11-13 08:07] #290 closed

[2018-11-13 13:34] devCrossNet opened #291 "find an alternative to vee-validate"
vee-validate is a mess. The docs are not right for the current version and there was a breaking change in a minor update which prevents me to update it in the vue-starter. The TS support is also really poor. I will give it another chance if I have some more time but right now I am totally pissed with this project.

[2018-11-13 13:50] devCrossNet opened #292 "clean up vue-typings"
there was a lot of experimentation in the beginning and I don't know if all the typings are important anymore.

[2018-11-13 14:16] devCrossNet opened #293 "extract-i18n-message: change translation function detection"
following test case should work:

[code]

[2018-11-13 19:02] devzsolt opened #294 "SPA build doesn't contain configs"
**Describe the bug**
The bundle produced by `npm run build:spa` doesn't contain app configs.

**To Reproduce**
Steps to reproduce the behavior:
1. set `"disableParticles": true` in the `default.json` config
2. `npm run dev` --> particles are not displayed as the config tells
3. `npm run build:spa` & serve locally --> particles are still rendered, the config was ignored

**Expected behavior**
Confi

[2018-11-14 08:07] devCrossNet commented on #294
Hey @devzsolt,

I am not sure if we can integrate this feature with the SPA build. The purpose of the config is that you can transfer information from the server-environment to the application environment and in the SPA build you don't have a server. For that, we would have to come up with a client-side only solution and I don't know how this would fit together with the overall architecture.

I wi

[2018-11-14 22:37] devzsolt commented on #294
Hey @devCrossNet I wanted to believe that your starter kit could be a single good one for most scenarios but as I learn more about it I see the strong focus on SSR which would make hosting more expensive (and possibly more labor-intensive).

In my customized copy I was able to setup node-config for a new directory containing only client-side configs for different tiers. However it causes some conf

[2018-11-17 15:27] devCrossNet opened #295 "vuex-persist: prefer initial state over local state"
scenario: you refresh the authentication token on the server side and want to pass the new token pair to the client. Currently, the locally saved values will override the initial state from the server, this should be changed to prefer the state from the server over the local state. I think this is only important for cookies. other than the Localstorage which will always have the primary state

[2018-11-17 15:31] devCrossNet opened #296 "override cookie state on redirect"
scenario: you refresh the authentication token but the refresh fails and you want to log out the user. The logout will trigger a state change (setting the tokens to null) and redirects to the login page. currently, the state will not update the client side cookie state because it sends a 302 to the client which redirects to the login page. The login page will get the old values from the cookie bec

[2018-11-19 21:06] #295 closed

[2018-11-19 21:07] #292 closed

[2018-11-19 21:16] #293 closed

[2018-11-20 13:16] devCrossNet opened #301 "extract-i18n-messages: handle new prettier format"
this should be extracted:

[code]

[2018-11-21 19:24] devCrossNet opened #302 "http-service: re-authentication for multiple api calls"
the response interceptor should only re-authenticate once, even if multiple requests are running.

[2018-11-21 19:26] devCrossNet opened #303 "components: use variant enum instead of variant flags"
turn this `<vue-button primary>button</vue-button>` into this: `<vue-button variant="primary">button</vue-button>` + for all components that have variants

[2018-11-22 08:33] chrisvfritz commented on #137
@devCrossNet You don't necessarily have to migrate to a Vue CLI template, but I do strongly recommend building on top of Vue CLI 3's plugin-based system rather than re-inventing what it already does. You can see [vue-enterprise-boilerplate](https://github.com/chrisvfritz/vue-enterprise-boilerplate) for an example of this approach. 🙂

There are a few really huge advantages to this strategy:

- The

[2018-11-22 09:41] devCrossNet commented on #137
Thank you for this input @chrisvfritz !

currently, I am working on version 2 of this project and I really struggle to find time to get into this topic besides my day job.

If you have any docs, hints, code examples that could help me to save time in migrating this project, I would really appreciate it 👍

The same for the contributions, most of the time it's easier to just implement it here instea

[2018-11-26 12:20] devCrossNet commented on #137
@chrisvfritz quick question. I read through your readme.md in the enterprise boilerplate and the user still has to clone the repo instead of creating a new project with the Vue-CLI. Can you tell me why?

otherwise, from what I understand, it just boils down to use `@vue/cli-service` for linting, testing and maybe building the project. Am I right or is there something else I have to take into accou

[2018-11-26 18:51] stungkit commented on #294
Hi @devCrossNet, thanks for this amazing repo. From my perspective and use cases, the SPA build is extremely useful. Sometimes users do not need SSR, and prefer to deploy the codebase in production without a server to avoid an unnecessary overhead.

As you suggested, what would help resolve some of the confusion would be a feature list, and possibly detailing some of high level overview of why cer

[2018-11-26 19:54] devCrossNet commented on #294
@stungkit thanks. that’s valuable input. I will create docs dedicated to the SPA build 👍

[2018-11-27 12:20] devCrossNet opened #305 "add $listeners to all components"
right now it's not possible to add click events to certain components like vue-grid, vue-card, etc.

to change this we have to add `v-on="$listeners"` to the root element of these components.

[2018-11-28 10:23] mk42 opened #306 "Module generation over cli cause a bug in syntax"
**Describe the bug**
Before syntax:
_<template>_
<transition @beforeEnter="beforeEnter" @enter="enter" @beforeLeave="beforeLeave" @leave="leave" :css="false">
    <slot />
_After syntax:_
 as transition as template @beforeEnter="beforeEnter" @enter="enter" @beforeLeave="beforeLeave" @leave="leave" :css="false">
    /> as slot

**To Reproduce**
Steps to reproduce the behavior:
1. If you checkout th

[2018-11-28 21:10] boredland opened #307 "Problems trying out the 'example guard'"
**Describe the bug**
I want to implement authentication with passportjs. On my way I was trying to understand how the 'beforeEach' works and how I could leverage it. So far, I don't get it.

**To Reproduce**
Steps to reproduce the behavior:
1. In `src/app/router.ts` i did set ìsAuthenticated` to true:
[code]
2. In `src/app/app/routes.ts`
[code]
3. go to localhost:3000/counter

**Result**
I receive

[2018-11-28 21:42] devCrossNet commented on #307
I will try to help you tomorrow. It’s already late in my timezone 👍

[2018-11-29 09:39] boredland commented on #307
That would be so nice!

[2018-11-29 11:20] devCrossNet commented on #307
I am at a conference today and tomorrow is it ok if we have a quick chat on the weekend? otherwise, I'll try to find some time today

[2018-11-30 02:13] chrisvfritz commented on #137
The main reason I opted for a clone rather than a template with `vue init` is to make it easier for people to contribute and test their contributions. Otherwise, a more complex workflow is necessary.

I'd say the linting doesn't really have to run through `vue-cli-service`, though I still use `@vue/` packages to manage many linting dependencies. Testing is really nice-to-have though and the dev/bu

[2018-12-01 15:37] devCrossNet commented on #307
@boredland so I checked out a fresh version of the master branch and added `meta: { requiresAuth: true },` to the route in `./src/app/counter/routes.ts`. When I go to `http://localhost:3000/counter` it redirects me to `http://localhost:3000/login?redirect=%2Fcounter` which is what I expect from the code because I am not authenticated. If I now set `const isAuthenticated = true; // TODO implement r

[2018-12-01 17:14] devCrossNet commented on #305
we don't have to add `v-on="$listeners"` to all components, if you want to listen to events from the root element you can bind the event like this `@click.native="onClick"` to get the same behaviour

[2018-12-01 17:14] #305 closed

[2018-12-01 17:44] #306 closed

[2018-12-02 09:33] boredland commented on #307
Hi! Thank you for looking into this. My problem isn't to get it to redirect, but to render.
In my example you would expect it to render `/counter` or am I completely wrong?

[2018-12-02 12:08] carllau999 opened #311 "Heroku request timed out"
Tried to deploy to heroku however I keep getting an error saying
2018-12-02T12:06:16.129531+00:00 heroku[router]: at=error code=H12 desc="Request timeout"

Even though the build runs fine on npm run dev.

[2018-12-02 12:57] devCrossNet commented on #307
@boredland that's correct and it worked yesterday in my case

do you have a repo that I can check out? Maybe there is another change you did which causes the trouble.

Would it help you if I reproduce the scenario from yesterday and push it to another branch in this repo that you can check it out?

[2018-12-02 13:02] devCrossNet commented on #311
hey @carllau999.

I am not an expert with heroku, all I know about it is in this repository. As far as I know you have to change the travis.yml to deploy it to your heroku account.

[code]

[2018-12-02 17:59] boredland commented on #307
That makes me suspicius. I'll try it myself with a fork for this repo and if it still doesn't work, I'll share the repo with you. Thanks for the hint!

[2018-12-03 07:58] devCrossNet commented on #307
@boredland I will have look at it later today 👍

[2018-12-03 08:18] #301 closed

[2018-12-05 12:59] devCrossNet opened #312 "implement codescene.io badge"
add the badge to the readme, very useful tool 👍

[2018-12-06 18:31] #303 closed

[2018-12-06 22:59] higuitadiaz opened #313 "Deploy to heroku"
Hi guys!

May you can help me... I am having problems to deploy my first project with VUE-STARTER to heroku... in the deploy process display this error:

Do you have any idea what is the problem?
In addition and I using hte following extra dependence:
- Vuefire
- Firebase
- Vuetify

    "accept-language": "3.0.18",
    "animejs": "2.2.0",
    "axios": "0.18.0",
    "body-parser": "1.18.3",
    "co

[2018-12-07 02:30] farahbrunache commented on #313
Did you set the node version in your package.json? This might help, i.e.:

`  "engines": {
    "node": "8.11.1",
    "npm": "5.6.0"
  }`

And use whatever node version you want.

Also do you heroku build script in package.json? i.e.:

`"heroku-postbuild": "npm run build"`

[2018-12-07 11:17] boredland commented on #307
Hi! Did you have the time to look into that?

[2018-12-07 11:59] devCrossNet commented on #307
@boredland I am super sorry. we have crunch time this week to finish up stuff at work. I promise you to have a closer look tomorrow. It would be nice if you could join the slack channel. it would make it much easier for me to help you. Let me know when you have time for a chat 👍

[2018-12-07 12:05] higuitadiaz commented on #313
Thank you @farahbrunache for your help!

yes, it's working now. I had to change the node version ">=8.0.0" to "8.16.0". I checked the version in heroku and I was running the version 11.

[2018-12-07 12:19] devCrossNet commented on #313
@higuitadiaz is it ok if I close this issue?

[2018-12-07 12:20] devCrossNet commented on #311
@carllau999 can you have a look at #313. Maybe this solves the issue.

[2018-12-07 14:55] higuitadiaz commented on #313
@devCrossNet Yes please, the issue is completed! thanks o much!

[2018-12-07 14:55] #313 closed

[2018-12-08 11:48] devCrossNet commented on #307
@boredland I left a comment on your repo.

[2018-12-08 12:54] boredland commented on #307
Thank you so much!

[2018-12-08 12:54] #307 closed

[2018-12-08 17:17] #302 closed

[2018-12-10 13:49] devCrossNet opened #316 "discussion: new name"
Let's think about rebranding the vue-starter for version 3

[2018-12-10 13:51] devCrossNet commented on #316
- re.vue
- vueable

[2018-12-10 13:56] devCrossNet opened #317 "discussion: vision"
assets we have to keep:
- access to the critical code (UI, moving parts) to enable quick changes for devs
- opinionated
- 100% customizable
- Typescript
- ALL THE USE CASES !!! 😊

[2018-12-10 17:43] tamer-mohamed commented on #317
These are good points to start with. I suggest labelling the main pillars that we want to improve.
Developers want to be able to customise their projects, on the other hand, they don't want to worry about updating the infrastructure  (i.e build, bundle, manage webpack and its loaders ... etc.)

I would like to highlight a few points which may help to achieve the points you mentioned above:
- Vue-s

[2018-12-11 07:59] devCrossNet opened #318 "Datatable: add props to define initial sort field and direction"
currently, you have to click on a column to sort it, it would be nice to also specify an initial sorting behavior.

[2018-12-17 12:53] rsegeda opened #319 "VueDataTable component regex validation crashes the app"
**Describe the bug**
Using VueDataTable (shared component) search input it can crash the app.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '/components'
2. Click on 'Search field in the Table'
3. Type '\\'
4. See error page and logs in the app

**Expected behavior**
Not crashing app

**Desktop (please complete the following information):**
 - Chrome 71.0.3578.98
 - Version 1.4.0

**

[2018-12-21 14:48] ayZagen opened #320 "Can't use webfonts with webpack"
**Describe the bug**
I am trying to use vuetify with the mdi iconfont. When I import css which contains webfont, application cannot resolve font file and prints the warning
`unsupported route: /materialdesignicons-webfont.woff2?d1bdfb3838e2f78edf1ede85f56eabc9; error: {\"code\":404}`
infinitely until OOM. It works sometimes but most of the times it fails.

I re-checked vue-starter's doc and vuetif

[2018-12-27 15:49] devCrossNet commented on #311
closed because of inactivity

[2018-12-27 15:49] #311 closed

[2018-12-30 20:09] #319 closed

[2018-12-30 20:09] #318 closed

[2019-01-04 12:39] tamer-mohamed commented on #317
Make sense, good thinking!

[2019-01-04 13:44] devCrossNet commented on #317
@tamer-mohamed I already started yesterday to work on the service and I already migrated the following npm tasks:

- test
- extract -i18n-messages
- generate
- clean
- update
- e2e
- storybook

I will work on `dev` and `build` today. Hopefully, everything is done until Monday that I can show you the solution. There are a couple of topics where I need your input 😊

here is the repo: https://github.

[2019-01-06 03:16] devCrossNet commented on #317
@tamer-mohamed it's already working:
https://github.com/devCrossNet/vue-starter/commit/cff70d0ccba9268f4bc4b974aeb6fa7662d8ac64

[2019-01-15 07:55] SilverLeaves commented on #317
# My Vision

Although I translated the document into Chinese, but I have never used this project in my project.

**I feel so sad!**

[2019-01-15 07:57] devCrossNet commented on #317
@SilverLeaves let me know what we can do better. Is it too difficult or is something missing? What are the reasons you can not use it?

[2019-01-16 02:15] SilverLeaves commented on #317
### Summary
There are serveral problems for me, maybe for others.
1. About myself
2. About tamplate

####  About myself (Maybe you should ignore this part)
Once I was a C++ programmer, I tended to use TS.
But in fact, I'm new to the front and back end. I'm not familiar with the front and back end and TS, so actually I use JS to write my project.
I'm trying ts. I need some time.

#### About tamplat

[2019-01-16 03:36] phoenixtk opened #324 "How can I use elementui in vue-starter?"
**Is your feature request related to a problem? Please describe.**
When I import css, request [testurl](http://localhost:3000/admin/stelementui)
![image](https://user-images.githubusercontent.com/20085025/51224845-c8fd5800-1982-11e9-8c76-c834322862a1.png)
code: https://github.com/phoenixtk/vue-starter.git

**Describe the solution you'd like**
vue-starter fit elementui

**Describe alternatives you'

[2019-01-16 04:04] SilverLeaves commented on #317
tree、tree-table、uploader, this three components is very useful for me.
I will make efforts in this area, I need some time.

[2019-01-16 06:58] devCrossNet commented on #324
Hey @phoenixtk , did you have a look at this documentation: https://vue-starter.herokuapp.com/docs/guide/third-party.html ?

Maybe that helps you already.

[2019-01-16 07:07] phoenixtk commented on #324
thank you very much！

[2019-01-17 01:16] SilverLeaves commented on #317
@devCrossNet
Should I delete my comments? It doesn't seem to make any sense.

[2019-01-17 03:35] devCrossNet commented on #317
No, it’s fine 👍🙂

[2019-01-18 10:40] devCrossNet commented on #324
@phoenixtk did it help, can I close this issue?

[2019-01-18 10:42] devCrossNet commented on #320
@ayZagen sorry I missed to reply you.

did you follow the tutorial in the docs?

the second issue sometimes occurs if you restart the dev server and the client tries to get the HMR script, reloading the page solves this problem, so don't worry about it 😊

[2019-01-18 10:53] phoenixtk commented on #324
It works.Great help,thanks a lot!

[2019-01-18 11:05] #324 closed

[2019-01-18 11:49] ayZagen commented on #320
@devCrossNet yeah I followed the tutorial. Application works flawlessly except this error. Refreshing page doesn't work out every time. When this error occurs I need to restart the application itself.

[2019-01-18 12:25] devCrossNet commented on #320
ok, I will try to reproduce it and hopefully, I can help you 👍

[2019-01-18 21:15] devCrossNet commented on #12
![ezgif-5-1089eeefea9b](https://user-images.githubusercontent.com/1667598/51413193-5bae1a80-1b6e-11e9-8b4e-c41eff828f8c.gif)

[2019-01-23 10:27] devCrossNet opened #327 "revisit form validation solution"
currently, we have a version lock on vee-validate.

We have to find a solution to upgrade to the latest version or switching out the validation logic.

As mentioned by @tamer-mohamed we should use the default error messages provided by the validation library, **but** we have to make sure to lazy-load the locales to keep the bundle size small.

[2019-01-23 10:35] devCrossNet commented on #137
@angeliski version 2 of this project now provides a CLI to quickly create a project (`npx vue-starter-service create [project-name]`) and it gets rid of most of the devDependencies. The user doesn't have to care about this anymore.

Under the hood, the `vue-starter-service` is not using the `vue-cli-service` for now, but it is planned to use it later. This abstraction was a necessary step and will

[2019-01-23 15:43] angeliski commented on #137
Amazing @devCrossNet!
I will check right now

[2019-01-24 13:27] tamer-mohamed opened #328 "Using `global` prefix for css module breaks the app"
**Describe the bug**
Using `global` prefix in `global.scss` files breaks the build process.

**To Reproduce**
Steps to reproduce the behavior:
1. add global class in `global.scss` using `:global` prefix
[code]
2. run the app
3. it breaks with error
[code]

**Expected behavior**
Contains the proper styles for the global class

**Additional context**
one approach is to have different options for the

[2019-01-24 20:53] devCrossNet opened #329 "docs: explain different deployments"
we have to clarify that the result of the build command can not be deployed to a static site hoster e.g. netlify or GH pages or an S3 bucket and have to point people to the build:spa command that produces static resources and can be deployed to e.g. an S3 bucket.

[2019-01-25 09:49] devCrossNet opened #330 "dev process gets really slow and can not be killed"
- node version 8
- npm version 5

the dev process gets really slow after some time and it cannot be killed. only solution right now is `sudo killall node` and restart the dev server.

reported by @livgrhm

[2019-01-25 14:37] Sydtrack opened #331 "spawn ENOENT errors when using vue-starter-service and Windows 10"
**Describe the bug**
When trying to create a new project (via npx create) or run npm (e.g. npm run dev) commands using Windows 10, the spawn command inside vue-starter-service is throwing ENOENT errors.

**To Reproduce**
Steps to reproduce the behavior:
1. Using Windows 10, Run 'npx vue-starter-server create intranet-frontend'
2. Get error "Error: spawn npm ENOENT"
3. Enter 'intranet-frontend' dir

[2019-01-25 21:57] devCrossNet commented on #331
Thanks for reporting. I will try the cross-spawn solution. I will let you know as soon as I released the new version.

[2019-01-25 22:01] gjohncock commented on #331
further to the issue above, this might provide more detail about the error
if I run "npm run build" I get the following output...

(node:13956) UnhandledPromiseRejectionWarning: Error: spawn rimraf ENOENT
    at Process.ChildProcess._handle.onexit (internal/child_process.js:232:19)
    at onErrorNT (internal/child_process.js:407:16)
    at process._tickCallback (internal/process/next_tick.js:63:19

[2019-01-25 22:48] devCrossNet commented on #331
I am not in front of a computer today. I will release the cross-spawn version tomorrow and keep you updated. Sorry for the inconvenience

[2019-01-26 11:03] devCrossNet commented on #331
I published an update `vue-starter-service@1.0.0-beta.4`. please verify if it works. If everything is fine I'll publish a patch update to the vue-starter repo.

And many thanks for your help! 😊

[2019-01-26 21:54] devCrossNet commented on #331
cool, so from what I read everything seems to be fine!?

do me a favour and install the new version like this: `npm install --save vue-starter-service@1.0.0-beta.4`, otherwise it'll not update your package.json.

[2019-01-26 22:20] gjohncock commented on #331
ok, have done that.  I appreciate your quick response to the issue.  everything now up and running.  Can see the site at localhost etc.  Well done

[2019-01-26 22:32] devCrossNet commented on #331
perfect 👍

I'll create a patch release and close this issue

[2019-01-26 23:42] #331 closed

[2019-01-29 22:11] farahbrunache opened #333 "Vue-select component in storybook has an undefined error"
**Describe the bug**
When viewing the `vue-select` component in the hosted Storybook link. I see the following error
`Cannot read property 'name' of undefined at constructorToString`

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://vue-starter.herokuapp.com/storybook/?selectedKind=2.%20Components%7CSelect&selectedStory=Multi&full=0&addons=1&stories=1&panelRight=0&addonPanel=stor

[2019-01-30 07:57] devCrossNet commented on #333
Thanks for reporting 👍

[2019-01-31 03:18] davidrichied opened #334 "Hot reloading vue-starter in Vagrant"
Hi,
Hot reloading doesn't seem to work when using vue-starter in vagrant. I found a similar issue that was solved by enabling webpack polling ([https://github.com/vuejs-templates/webpack/issues/432](https://github.com/vuejs-templates/webpack/issues/432)), but I'm not sure where I would activate webpack polling. I've run into this issue a lot, and it's usually solved by using a watch-poll option, o

[2019-01-31 07:56] devCrossNet commented on #334
Hey @davidrichied,

I don't use vagrant and I don't know about the implications. If it's something related to webpack you should check out the following files, maybe you can tweak the config in a way that it works.

https://github.com/devCrossNet/vue-starter/blob/master/src/server/index.ts#L13

https://github.com/devCrossNet/vue-starter-packages/blob/master/packages/vue-starter-service/src/webpack

[2019-01-31 08:38] minzojian opened #335 "prettier errors"
when run dev task,got message like this
![image](https://user-images.githubusercontent.com/361781/52041709-29d98280-2576-11e9-939a-546043ca0583.png)

**Desktop (please complete the following information):**
 - OS: win10
 - Version 2.0.2

[2019-01-31 10:33] devCrossNet commented on #335
hey @minzojian,

is this after a fresh checkout or did you change this file?

I would suggest to run `npm run prettier` to fix the issues and then run dev again, just to unblock you for now.

[2019-02-01 11:18] devCrossNet opened #336 "Change Promises to async/await"

[2019-02-02 07:20] devCrossNet commented on #334
Hey, can you tell me a little bit more about the problem you try to solve? The dockerfile is an optimized production image that takes as less space as possible in the registry. It’s not linked to the local filesystem and doesn’t contain any source files.

[2019-02-02 17:44] davidrichied commented on #334
Found the solution. I made a pull request to devCrossNet/vue-starter-packages
 with the changes that I made, so that you can see what I did. Below is an explanation of what I found.

I noticed that vue-starter-service uses webpack-dev-middleware (but not webpack-dev-server), but [you can include webpack options](https://github.com/webpack/webpack-dev-middleware#watchoptions) when using it.

I foun

[2019-02-02 17:50] davidrichied commented on #334
@devCrossNet, I'll let you close this issue when you feel like it's ready to be closed. I don't think editing a file in node_modules (that can be overwritten) is a very good solution, but it's working, for now. Thanks, again.

[2019-02-02 21:54] devCrossNet commented on #334
you can replace it now with the new version of `vue-starter-service@1.0.0-beta.7`. If everything works as expected I'll close this issue.

[2019-02-03 01:53] #334 closed

[2019-02-04 16:24] amenadiel commented on #316
VueLerplate

[2019-02-04 16:52] devCrossNet opened #338 "update to vue 2.6"
https://medium.com/the-vue-point/vue-2-6-released-66aa6c8e785e

[2019-02-04 19:06] devCrossNet commented on #335
can I close this @minzojian ?

[2019-02-04 19:07] devCrossNet commented on #330
I can't reproduce it anymore.

@livgrhm I think it got better after the beta 5 update. do you still experience this issue?

[2019-02-05 07:54] devCrossNet commented on #316
Vuesion (Fusion)

[2019-02-05 07:55] devCrossNet commented on #316
Vuerious (Furious)

[2019-02-05 08:47] devCrossNet commented on #316
@mk42 `Vueture` is amazing 💯

[2019-02-05 08:48] tamer-mohamed opened #340 "Can't exit tests"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Run tests `npm t`
2. try to exit the tests by `control + C`
3. Tests still running with error

[code]

**Expected behavior**
Exit the test script.

[2019-02-05 08:48] devCrossNet commented on #316
@mk42 already taken: https://github.com/vueture

[2019-02-05 08:52] mk42 commented on #316
i just fired it out brainless xD...

[2019-02-05 09:00] mk42 commented on #316
...vueyork, vueport, vuethings, vuedelic, vueglasses, vuehood, vuepilot, jetvue, nahisvue.. k i thing thats it for a while ^^

[2019-02-05 21:28] JoeEarly opened #341 "Dev build failing to complete"
Clone from the repo, performed npm install and then npm run dev which result in a build error.

**To Reproduce**
Steps to reproduce the behavior:
1. Clone repo
2. npm install
3. npm run dev

![image](https://user-images.githubusercontent.com/5208459/52305332-ce036500-298c-11e9-988c-145ff35a3532.png)

**Desktop (please complete the following information):**
 - OS: Win10
 - node: 10.13.0

[2019-02-06 12:22] devCrossNet commented on #316
I reserved https://github.com/vuesion

[2019-02-06 12:35] devCrossNet commented on #317
I created a new org: https://github.com/vuesion. If it's a good fit we have to think about a migration path for the vue-starter.

my current thinking is:
- create npm org as well
- move `vue-starter-packages` to `vuesion/vuesion`
- change packages to `@vuesion/[package-name]`
- replace vue-starter-packages in the vue-starter project
- move `vue-starter` repo to `vuesion/starter`
- update heroku, s

[2019-02-07 20:16] #335 closed

[2019-02-07 20:16] #336 closed

[2019-02-07 20:17] #329 closed

[2019-02-07 20:17] #328 closed

[2019-02-07 20:17] #294 closed

[2019-02-07 20:18] #330 closed

[2019-02-08 20:22] MohitTilwani15 commented on #333
@devCrossNet Passing type property to autocomplete prop in vueSelect would fix the issue.

[2019-02-08 21:10] devCrossNet commented on #333
Thank you very much! I will check it tomorrow 👍

[2019-02-09 12:10] tamer-mohamed opened #342 "Enable reactivity for vuex store in update operations"
**Is your feature request related to a problem? Please describe.**
Currently, update array or object in vuex store is not reactive.

**Describe the solution you'd like**
we need to use `Vue.set` to enable reactivity

@see https://github.com/vuejs/vuex/issues/1311#issuecomment-397867058

[2019-02-09 12:11] tamer-mohamed commented on #342
@devCrossNet Would your opinion on that, is it intended?

[2019-02-09 14:55] devCrossNet commented on #342
I never had a problem with it, you?

[2019-02-09 16:08] devCrossNet commented on #333
@MohitTilwani15 that worked perfectly!

[code]

[2019-02-09 16:11] #333 closed

[2019-02-09 18:25] #340 closed

[2019-02-09 18:45] tamer-mohamed commented on #342
we use computed props to with vuex getters, without enabling reactivity we would need to do manual effort to keep the state in sync.

To enable reactivity we need to follow one of this rules: https://vuex.vuejs.org/guide/mutations.html#mutations-follow-vue-s-reactivity-rules

[2019-02-09 18:53] devCrossNet commented on #340
fixed in `"vue-starter-service": "1.0.0-beta.8"`

[2019-02-09 18:56] devCrossNet commented on #342
let's discuss on Monday. I did not experience issues so far with array operations. would be nice to see a use-case.

as far as I know, it's only important to use `Vue.set` to add new reactive properties that are not already in the initial state, data or computed.

[2019-02-10 13:03] devCrossNet commented on #341
@JoeEarly I tried to reproduce it locally, but everything works fine for me.

[2019-02-10 13:09] devCrossNet commented on #320
@ayZagen I finally had some time to tackle this issue. In the latest version of the vue-starter it works in the way you describe it. I was able to do exactly what you describe without getting an error.

[2019-02-10 13:11] ayZagen commented on #320
@devCrossNet I will look into it when I got spare time. Closing the issue for now. Thanks for keeping your support up!

[2019-02-10 13:11] #320 closed

[2019-02-10 13:58] devCrossNet commented on #338
- change slot syntax
- support `serverPrefetch`

[2019-02-11 18:17] #338 closed

[2019-02-11 20:26] JoeEarly commented on #341
Very strange indeed as I tried it on a clean setup and got the same thing.

May O ask what platform you are on?

[2019-02-11 20:32] devCrossNet commented on #341
I am on OSX. I'll try to reproduce it with a windows vm if I have some time.

[2019-02-11 20:34] JoeEarly commented on #341
Ohh it gets worse for some reason....Ill try a different machine later also

![image](https://user-images.githubusercontent.com/5208459/52591652-5de95900-2e3c-11e9-8a93-07b170362bf3.png)

[2019-02-12 19:13] JoeEarly commented on #341
I "think" it my be a permission issue on windows.

I usually keep all my projects in C:/Source/... however when I moved this to the Documents folder it fired up nicely.

![image](https://user-images.githubusercontent.com/5208459/52661608-55efee80-2efa-11e9-9e6c-16e37d3b2bc7.png)

[2019-02-12 19:17] devCrossNet commented on #341
Nice 1, does that mean we can close this issue?

[2019-02-12 19:17] JoeEarly commented on #341
Does indeed

[2019-02-12 19:51] devCrossNet commented on #341
Cool! Have (finally) fun with the vue-starter 👍

[2019-02-12 19:51] #341 closed

[2019-02-18 09:32] lmnzr opened #349 "Failed at the vue-starter@2.0.2 build script. help wanted"
I tried npm run dev immedietly after npm install. Then I stumble into this error.

This Is the Log I got

0 info it worked if it ends with ok
1 verbose cli [ 'C:\\Program Files\\nodejs\\node.exe',
1 verbose cli   'C:\\Program Files\\nodejs\\node_modules\\npm\\bin\\npm-cli.js',
1 verbose cli   'run',
1 verbose cli   'build' ]
2 info using npm@6.4.1
3 info using node@v10.13.0
4 verbose run-script [

[2019-02-18 11:11] devCrossNet commented on #349
Hey, I don’t have a Windows System to reproduce it. Maybe this thread helps: https://github.com/devCrossNet/vue-starter/issues/341

[2019-02-19 02:09] lmnzr commented on #349
Thank for the Reply. I have tried it. Doesn't seem to solve my problem. Probably related to windows configuration or the npm installation.

[2019-02-19 03:45] lmnzr commented on #349
Ok I Managed To solve It. The Problem is Related to this
https://github.com/ForbesLindesay/spawn-sync/issues/19

Thank you for the support.

[2019-02-19 03:45] #349 closed

[2019-02-19 06:57] devCrossNet commented on #349
Good to know. Thank you very much. I will update the dependency asap 👍

[2019-02-20 01:21] SilverLeaves commented on #317
@devCrossNet if you creat a twitter account ,maybe a [weibo微博](https://weibo.com/) account you should have one too

[2019-02-20 08:08] devCrossNet commented on #317
@SilverLeaves that is a great idea. is it possible to use the side in English? and how would people respond if I would maintain the account in English?

[2019-02-20 08:27] SilverLeaves commented on #317
with this app: weibo international.
scan the QR code
![default](https://user-images.githubusercontent.com/31165554/53077153-5dcc1600-352c-11e9-8a91-2c6487f7f681.png)

![default](https://user-images.githubusercontent.com/31165554/53076959-ed24f980-352b-11e9-8219-9bc34ff5952a.png)

[2019-02-20 08:42] SilverLeaves commented on #317
@devCrossNet Sorry, I make some mistake, Although Weibo is China's twritter, but china's developers usually communicate with each other through wechat.

[2019-02-20 09:32] devCrossNet commented on #317
I heard a lot about wechat, will have a look 👍

[2019-02-21 12:34] devCrossNet opened #350 "prefetch before route-gards"
right now the prefetch happens after the global route-guard which is not really intuitive. If I want to fetch global user data and want to protect routes depending on this data it wouldn't work with the current implementation.

[2019-02-23 16:29] devCrossNet commented on #316
after getting feedback from several people from different backgrounds I decided that `vuesion` is a really cool brand name and we will transition to the new organization step by step in the next couple of weeks

[2019-02-23 16:29] #316 closed

[2019-02-25 23:25] MohitTilwani15 commented on #327
As I can see you have already placed the logic of lazy loading locales in i18n plugin.
The only problem I faced while updating the vee-validate version was in [VueSelect.vue](https://github.com/devCrossNet/vue-starter/blob/master/src/app/shared/components/VueSelect/VueSelect.vue) and [VueInput.vue](https://github.com/devCrossNet/vue-starter/blob/master/src/app/shared/components/VueInput/VueInput.v

[2019-02-26 14:52] rgrosjean opened #353 "Changing locale works only once"
**Describe the bug**
When updating the value of app.locale in the store, the UI react only once and does not update the texts any more.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to (https://vue-starter.herokuapp.com)
2. Open the left panel and change the language (e.g. German)
3. Set the language to the previous one
4. Try to set the language again to German, the text does not chang

[2019-02-26 15:20] devCrossNet commented on #353
nice catch @rgrosjean. I think it's only an issue in production because of the service-worker. I will investigate asap!

[2019-02-27 06:24] rgrosjean commented on #353
hi @devCrossNet , I have the same issue when running in dev mode (that's how I found it). I thought first I broke something

[2019-02-27 07:26] devCrossNet commented on #353
Good to know. I hope it will be easy to fix. I will spend some time over the weekend 👍

[2019-02-27 07:49] rgrosjean commented on #353
I could try to fix it too... just don't know where I should start :smile:  but thanks

[2019-02-27 07:51] devCrossNet commented on #353
I would start here: https://github.com/devCrossNet/vue-starter/blob/master/src/app/app/App/App.vue#L157

and then observe what happens in `loadLocaleAsync` and `changeLocale`.

[2019-03-02 07:38] SilverLeaves opened #354 "docs: second review, improve localization for zh-cn"
docs: second review, improve localization for zh-cn

[2019-03-02 14:32] devCrossNet commented on #327
@MohitTilwani15 I faced the problem that if you update everything according to the new version, all the tests fail because you have to add `{sync: false}` (I lost the link to the issue in vee-validate :-/) and this is something I don't want to add just because a library has an issue.

To the 2nd part. it's also possible to plugin vue-i18n with vee-validate in the new version. I already tested it a

[2019-03-02 14:33] devCrossNet commented on #312
not so important anymore, code-climate does a really good job

[2019-03-02 14:33] #312 closed

[2019-03-02 14:38] devCrossNet commented on #317
status update:

- [x] create github org
- [x] create npm org
- [x] move vue-starter-packages to `vuesion/packages`
- [x] change packages to `@vuesion/[package-name]`
- [x] replace vue-starter-packages in the vue-starter project
- [x] save heroku domain
- [x] create twitter account
- [ ] get a nice logo
- [ ] rebranding
- [ ] rename slack or switch to discord
- [ ] move vue-starter repo to `vuesion

[2019-03-02 14:40] devCrossNet commented on #193
I will close this now. we can open another ticket if it pops up

[2019-03-02 14:40] #193 closed

[2019-03-02 15:32] devCrossNet commented on #353
@rgrosjean here is the fix: https://github.com/devCrossNet/vue-starter/pull/356

[2019-03-02 15:42] #353 closed

[2019-03-04 02:36] evelope opened #358 "why"
![image](https://user-images.githubusercontent.com/34190465/53707313-66481900-3e69-11e9-8e81-7510217f09cf.png)

[2019-03-04 08:05] devCrossNet commented on #358
can you provide a little bit more information?
Is it a freshly checked out project?

can you paste the output from running `./node_modules/.bin/vuesion --version`?

[2019-03-08 00:45] jiaxings commented on #358
Hi,Johannes
I got the same issue
![default](https://user-images.githubusercontent.com/8363200/53999458-681e1f00-417e-11e9-891b-d11d7dca2204.png)
os:windows
vuesion version is 1.0.2

[2019-03-08 05:36] devCrossNet commented on #358
hey @jiaxings,
thank you for the new information. The `cnpm` command is new to me, maybe it has something to do with this issue.

I am unfortunately not in front of a computer in the next couple of days but I will try to reproduce this behaviour as soon as possible on my machine. I don't have a windows machine, so I hope it is just something related to `cnpm`.

If I am not able to reproduce it, wo

[2019-03-08 07:53] jiaxings commented on #358
sure, I will let you know if I find something.

[2019-03-11 12:23] devCrossNet opened #359 "make props more restrictive with validators"
for buttons, etc.

[2019-03-11 12:29] devCrossNet opened #360 "iterate collapse anmiation"
currently, we have a magic number added to the height of the animation: https://github.com/devCrossNet/vue-starter/blob/master/src/app/shared/animations/CollapseAnimation/CollapseAnimation.vue#L34

it feels hacky and it also causes some issues with different CSS constellations. we should come up with a better implementation that removes this magic number and works for all kinds of CSS

[2019-03-11 15:38] devCrossNet opened #361 "storybook: add router decorator globally"
remove `story.addDecorator(require('storybook-vue-router').default());` from components.

add `addDecorator(require('storybook-vue-router').default());` in config.js

[2019-03-11 19:46] bernardocorbella opened #362 "Add reactivity to `vue-tab-group`"
**Is your feature request related to a problem? Please describe.**
When using `vue-tab-group` there is no reactivity when the children `vue-tab-item`s change its props (mainly title).

**Describe the solution you'd like**
I would like for `vue-tab-group` to be reactive whenever, at least, the `title` prop changes from the children.

**Describe alternatives you've considered**
I've considered addin

[2019-03-12 08:46] #362 closed

[2019-03-18 10:44] #361 closed

[2019-03-18 10:48] #360 closed

[2019-03-18 19:41] devCrossNet commented on #358
@jiaxings @evelope I was not able to install the dependencies via cnpm, it takes ages and doesn't finish the node-sass installation. Therefore, I have no idea how to reproduce it.

Did you try it with `npm` instead of cnpm?

[2019-03-20 10:46] devCrossNet commented on #327
TODO: add `blur` as the validation event in the current solution

[2019-03-21 14:14] tamer-mohamed opened #368 "vue-tooltip somtimes hidden because overflow of the parent element"
`vue-tooltip` component sometimes is hidden because of the overflow of the parent element (i.e modal)
![Screenshot 2019-03-20 at 11 40 19](https://user-images.githubusercontent.com/4436327/54758170-f917e000-4beb-11e9-9fed-538f9db1331f.png)
.

[2019-03-21 19:24] devCrossNet opened #369 "update storybook"
https://medium.com/storybookjs/storybook-5-migration-guide-d804b38c739d

[2019-03-23 00:06] MohitTilwani15 commented on #369
@devCrossNet How do you manage the local development of vuesion, so that you can quickly check the changes in vue-starter, before committing the changes in vuesion?

[2019-03-23 14:10] devCrossNet commented on #369
hey @MohitTilwani15,
I use a local npm registry where I release my packages and install them from there in the vue-starter. But only if I need to update dependencies.

For normal improvements in the CLI I use npm link

[2019-03-23 14:12] devCrossNet commented on #369
this is the package: https://github.com/verdaccio/verdaccio

and then I set the new registry in the projects `.npmrc`

[2019-03-23 17:47] MohitTilwani15 commented on #369
@devCrossNet okay superb module verdaccio. Also I have updated the storybook to version 5. I have to check few things before committing it. Looks great as of now. Will raise a PR latest by tomorrow. Cheers!

[2019-03-23 19:38] devCrossNet commented on #369
Thank you very much 🙂

[2019-03-23 20:58] #359 closed

[2019-03-23 22:05] MohitTilwani15 commented on #369
@devCrossNet I think you need to give me access to push in vuesion, as I cannot even push in my local branch

[2019-03-23 23:12] devCrossNet commented on #369
You should fork it and create a PR from your fork to the origin repo. We can talk about being a maintainer after a couple of PRs if you want, ok?

[2019-03-24 13:01] #369 closed

[2019-03-29 13:19] devCrossNet opened #378 "refactor tests."
write tests in the style of react-testing-library. test behavior, not implementation and also use the `actual/expected` pattern

[2019-03-30 14:06] majidln opened #379 "How can I build this project in production mode?"
How can I build this project in production mode?
I clone project and run npm install. after that, I run 'npm run build:spa'. so I open index.html at dist folder in a browser and there is some issue in console and browser screen is white.

<img width="516" alt="Screen Shot 2019-03-30 at 6 34 14 PM" src="https://user-images.githubusercontent.com/8521168/55277145-9eccfc80-531a-11e9-93c2-ee34ac17e58d.

[2019-03-30 16:03] devCrossNet commented on #379
Here is the documentation: https://vue-starter.herokuapp.com/docs/guide/deployment.html#static-single-page-application

[2019-03-30 20:31] devCrossNet opened #381 "server-side custom directives"
currently the custom directives only work client-side, we should also support them on the server-side

[2019-03-31 00:05] devCrossNet opened #382 "component: lazy loading image"
use intersection observer to lazy load images, as `img` and background image

[2019-03-31 16:47] devCrossNet commented on #12
![ezgif com-optimize](https://user-images.githubusercontent.com/1667598/55291969-6d6d3300-53e5-11e9-8bdb-c9e2940ca927.gif)

[2019-03-31 16:51] devCrossNet commented on #12
![logo](https://user-images.githubusercontent.com/1667598/55292014-ea98a800-53e5-11e9-82ca-11ba7bb2bbcd.png)

[2019-03-31 20:54] MohitTilwani15 commented on #382
@devCrossNet If can take over this task if its okay for you. I was thinking to make a ```VueImage``` component which would lay load the image using Intersection Observer and then instead of using ```img``` tag, we can use ```VueImage``` component.

[2019-03-31 21:22] devCrossNet commented on #382
that's exactly my goal. here is already the working code. it has to separated out into a component: https://github.com/devCrossNet/vue-starter/blob/vuesion/src/app/home/components/HomeSection/HomeSection.vue#L47

Important is to include a fallback for older browsers and to also gove the possibility to render is as a DIV with the image URL as the background image (a use-case I need sometimes).

I w

[2019-03-31 21:25] MohitTilwani15 commented on #382
ohh okay. Cool. Then you can take care of it (y)

[2019-03-31 21:38] MohitTilwani15 commented on #382
But one small thing in your example, I can see that you're making this.observer = null on component beforeDestroy lifecycle, which means even when image is loaded, the  Intersection Observer is still watching for intersection. So I would suggest after `this.$refs.image.style.backgroundImage = url(${this.image})` you should call `this.observer.disconnect()` so that observer would stop watching

[2019-03-31 21:40] devCrossNet commented on #382
I will send you the PR when it's ready so you can review it 👍

[2019-03-31 21:43] devCrossNet commented on #382
@MohitTilwani15 I just saw you don't have 2FA enabled. would be a big security win for you if you enable it. should not be so complicated to set it up

[2019-03-31 21:50] MohitTilwani15 commented on #382
Done. Thanks 👍

[2019-04-01 12:39] devCrossNet commented on #379
@majidln can I close this issue?

[2019-04-01 13:30] devCrossNet commented on #382
@MohitTilwani15 here is the PR https://github.com/devCrossNet/vue-starter/pull/386. If you think it's alright, plz comment with `LGTM` or something similar.

[2019-04-01 14:11] devCrossNet commented on #358
@evelope @jiaxings any news?

[2019-04-01 14:56] MohitTilwani15 commented on #207
@devCrossNet In Vuesion, I saw that you have installed babel-loader but haven't used it. So as of now the Js is not compiled to ES5? Or I am missing something here?

[2019-04-01 15:01] devCrossNet commented on #207
@MohitTilwani15 typescript compiles to es5: https://github.com/devCrossNet/vue-starter/blob/master/tsconfig.json#L6

[2019-04-01 20:05] MohitTilwani15 opened #387 "Best practice to have key attribute with v-for and avoid v-if with v-for"
**Describe the bug**
In some components v-for is used with v-if which as per Vue documentation is not a good practice. Also key is missing in some components.
[https://vuejs.org/v2/guide/list.html#v-for-with-v-if](https://vuejs.org/v2/guide/list.html#v-for-with-v-if)

**Expected behavior**
Best practice should be followed as per documentation.

Components that needs to be fixed:

1. VueBreadcumb
2

[2019-04-02 14:12] #382 closed

[2019-04-02 18:49] devCrossNet commented on #387
will be in the next release

[2019-04-02 18:49] #387 closed

[2019-04-03 05:26] eli007s opened #390 "aliases"
can we have something similar to:

https://github.com/chrisvfritz/vue-enterprise-boilerplate/blob/master/aliases.config.js

the use of aliases like '@shared' that would point to '@app/src/app/shared'

[2019-04-03 08:10] devCrossNet commented on #390
I will have a look at it 👍 but in the meantime you can maintain your own aliases in the .vuesion/webpack.config.js

[2019-04-03 14:51] devCrossNet commented on #390
@eli007s in the next version you will be able to do this in the `.vuesion/config.json`

[code]

[2019-04-03 18:04] MohitTilwani15 commented on #379
@majidln Looking at your console errors looks you are trying to load index.html locally and that would not work as you need to host it. To check locally, you can use python SimpleHTTPServer module. Just run` python -m SimpleHTTPServer` from dist directory and that would give you information about the port at which the files are being hosted and then you can check.

@devCrossNet After the build the

[2019-04-03 18:12] devCrossNet commented on #379
@MohitTilwani15 have a look at the `Support` section in the docs: https://vue-starter.herokuapp.com/docs/guide/deployment.html#static-single-page-application

if it's not the appConfig issue, then we got something new

[2019-04-03 20:41] devCrossNet commented on #390
@eli007s you can start using it with `"@vuesion/service": "2.0.0-beta.1"`. just fyi

[2019-04-04 04:47] eli007s commented on #390
woah, that was quick!

[2019-04-04 15:01] OfficialFractal commented on #358
I think I may have the same issue.

I'm new to all of this so I'm not entirely sure what's going on, but I fresh installed node.js, npm, cloned the git, ran npm install, and was greeted with this when trying to run npm run dev.

![InkedwZnl8wE_LI](https://user-images.githubusercontent.com/20522592/55566046-ebbd2400-56c8-11e9-9d0d-67a5a1f0749e.jpg)

[2019-04-04 15:14] devCrossNet commented on #358
@OfficialFractal do you also have windows running?

[2019-04-04 17:25] devCrossNet opened #391 "provide multiple themes with a theme-switcher?"
currently, we only have one theme. I think it would be cool to provide at least a dark theme that is used with the new dark theme CSS query selector.

the best solution would be a white label solution. E.g. you have to set up a project which will be used as a white-label solution.

[2019-04-04 18:53] OfficialFractal commented on #358
@devCrossNet yep!  I'm on Windows 10 if that's what you're asking.

[2019-04-04 19:09] devCrossNet commented on #358
@OfficialFractal ok, let me try something. I will publish a new version of the vuesion/service. can you then install it and see if it's fixed?

[2019-04-04 19:21] devCrossNet commented on #358
@OfficialFractal `"@vuesion/service": "2.0.0-beta.2"` removes some process signal handlers. It's my first guess why this is not working on windows. please let me know if it fixes the issue.

reference: https://github.com/vuesion/packages/commit/0126278b3dade0c1e89a07f1acd812c80d42053f

[2019-04-04 20:41] OfficialFractal commented on #358
I deleted the vue-starter folder, updated npm, and tried again.  Here is the full result-

![latest try](https://user-images.githubusercontent.com/20522592/55586967-3c984100-56f8-11e9-9bdd-8fafce3d2b74.jpg)

Is there something specific I should try uninstalling before trying again?

[2019-04-04 21:18] devCrossNet commented on #358
You should update your package json to use the new version of the @vuesion/service and run npm install and then try again 🙂

[2019-04-04 22:12] OfficialFractal commented on #358
What package json should I be updating specifically?  Sorry for the ignorance!!

Just to clarify - before taking the last screenshot, I deleted _all_ of vue-starter, updated npm, re-downloaded vue-starter via git clone, then ran npm install and npm run dev.  That is the screenshot above.

Sorry for the misunderstanding and thanks for the time!!

[2019-04-05 07:49] devCrossNet commented on #358
@OfficialFractal no worries, let me give you a step by step instruction

- `git clone https://github.com/devCrossNet/vue-starter.git`
- `npm install`
- `npm install --save-dev @vuesion/service@2.0.0-beta.2`
- `./node_modules/.bin/vuesion --version` => should print `2.0.0-beta.2`, that means the update was successful
- `npm run dev`

If now the dev tasks works, we have it finally fixed 😊

[2019-04-05 14:35] devCrossNet commented on #358
@OfficialFractal if this error still exists it might be an issue with permissions. Exit code 2 stands for a permission problem. maybe this could help to solve it: https://github.com/zkat/npx/issues/146#issuecomment-384016791

[2019-04-05 21:13] devCrossNet commented on #317
done! 🎉

[2019-04-05 21:13] #317 closed

[2019-04-05 21:32] OfficialFractal commented on #358
Very appreciated!  I tried everything you suggested in as many different orders and ways as I could think of but I get the same results.

<details>
  <summary>npm install</summary>

  ---

![npm install](https://user-images.githubusercontent.com/20522592/55657433-32de0e80-57c8-11e9-8d8c-3ecbe17367af.png)

  ---

</details>

<details>
  <summary>vuesion update</summary>

  ---

![Vuesion Update](ht

[2019-04-05 21:36] devCrossNet commented on #358
@OfficialFractal thank you so much to spend so much time with me to figure out this issue.

[2019-04-05 21:49] devCrossNet commented on #358
I will try to install windows on my mac, maybe I get some more info if I run the vuesion/service in development mode

[2019-04-06 04:27] eli007s commented on #390
@devCrossNet i tried this on version 2.0.0-beta.2 but it doesn't seem to work

i tested with line 137 in App.vue

`import VueIconVuesion from '@shared/components/icons/VueIconVuesion/VueIconVuesion.vue';`

[2019-04-06 09:10] devCrossNet commented on #390
Sorry to hear that. I will check it again 👍

[2019-04-06 14:08] devCrossNet commented on #390
@eli007s I just tried it out and it works. here is the PR: https://github.com/vuesion/vuesion/pull/393

important to know: the tsconfig file will be kept in sync with the vuesion config automatically. no need to maintain it manually.

[2019-04-06 15:12] devCrossNet commented on #358
@OfficialFractal I git some new information:

<img width="1028" alt="Bildschirmfoto 2019-04-06 um 17 09 52" src="https://user-images.githubusercontent.com/1667598/55671296-0b05ae00-588f-11e9-96b2-5e145bd1566c.png">

so it's an issue with prettier! I think it's because of some git settings to convert LF to CTRLF, etc.

I will have a look if this is a known issue.

[2019-04-06 15:24] devCrossNet commented on #358
@OfficialFractal @evelope @jiaxings here is a section that could be helpful: https://prettier.io/docs/en/options.html#end-of-line

we need to decide if this should be part of the gitattributes!?

[2019-04-06 15:48] devCrossNet commented on #358
ok, so on windows you need to do the following:

- add `  "endOfLine": "lf"` to .prettierrc
- run `npm run prettier`
- run `npm run dev`

<img width="1028" alt="Bildschirmfoto 2019-04-06 um 17 47 46" src="https://user-images.githubusercontent.com/1667598/55671812-39d25300-5894-11e9-96d2-c5231be5c21b.png">

[2019-04-06 16:01] devCrossNet commented on #358
fixed with commit: chore: https://github.com/vuesion/vuesion/commit/5b62057a52e6c0e626812154f92c077cf63a39ad

[2019-04-06 16:01] #358 closed

[2019-04-07 17:29] eipiminus1 opened #394 "Link to 3rd party UI lib guide does not work in design system storybook"
In the Storybook describing the Design System

https://vuesion.herokuapp.com/storybook/?path=/story/design-system-design-system--intro

there is a link that should take the reader to https://vuesion.herokuapp.com/docs/tutorials/third-party.html#vuetify

but it does not work, since it points to https://vuesion.herokuapp.com/docs/guide/third-party.html

[2019-04-07 18:40] eli007s commented on #390
=) i love it

[2019-04-07 18:40] #390 closed

[2019-04-08 12:37] devCrossNet commented on #342
can this be closed?

[2019-04-08 12:37] devCrossNet commented on #379
can this be closed? @majidln

[2019-04-08 13:25] tamer-mohamed commented on #342
This is still valid. Changing the nested objects in vuex store, doesn't re-render the component (not reactive).
https://vuejs.org/v2/guide/list.html#Caveats

However, I don't see that we deal with any nested objects or array in vuesion (was only at interstellar), hence this can be closed.

[2019-04-08 13:26] devCrossNet commented on #342
ok, and what could be an action item for this?

[2019-04-08 13:54] tamer-mohamed commented on #342
Are there any places we handle nested objects or arrays in vuex store in vuesion?
otherwise, we close this ticket.

[2019-04-08 14:08] devCrossNet commented on #342
We don’t have it, but what do you think about some docs around common things people should know before using vuesion?

[2019-04-08 14:37] tamer-mohamed commented on #342
I like the idea. we could make FAQ or caveats section.
I just feel that this particular issue is more related to vuex not to vuesion, what do you think?

[2019-04-08 14:56] devCrossNet commented on #342
Exactly what I thought 👍

[2019-04-09 17:03] sthielen opened #397 "Is memory limit configurable?"
When I start vuesion, I get `Using 1 worker with 2048MB memory limit` in my logs. I am developing on an underpowered device, is there a CLI option that will let me drop this down to 1G?

[2019-04-09 17:29] devCrossNet commented on #397
hey, there is no CLI option, but you can tweak your webpack config:

copy this into the file `.vuesion/webpack.config.js`
[code]

here is the base config that is used in vuesion: https://github.com/vuesion/packages/blob/master/packages/service/src/webpack/config/base.ts

[2019-04-09 17:35] sthielen commented on #397
Perfect, thank you!

[2019-04-09 17:35] #397 closed

[2019-04-09 19:57] devCrossNet commented on #12
<img width="1769" alt="vuesion-theme" src="https://user-images.githubusercontent.com/1667598/55830987-698e8e80-5b12-11e9-82af-1afe1f4d67aa.png">

[2019-04-09 20:02] devCrossNet commented on #12
![55830987-698e8e80-5b12-11e9-82af-1afe1f4d67aa-min](https://user-images.githubusercontent.com/1667598/55831298-0fda9400-5b13-11e9-8780-9ada6dd764cf.png)

[2019-04-09 20:31] devCrossNet commented on #379
inactive

[2019-04-09 20:31] #379 closed

[2019-04-09 20:34] #342 closed

[2019-04-10 18:12] MohitTilwani15 commented on #391
@devCrossNet  Found a article. I personally find the solution in the article very elegant. Let me know your thoughts 😊

https://nickmcburney.co.uk/blog/vuejs-whitelabel/

[2019-04-22 15:49] MohitTilwani15 commented on #391
@devCrossNet It would be great if you can check out my below commits before i raise a PR, as then we can finalize the colors if the approach looks fine.

[packages/service](https://github.com/MohitTilwani15/packages/commit/7727ddfc4693d8aef7322f2f82c6c124f7631891)
[vuesion](https://github.com/MohitTilwani15/vue-starter/commit/5377ee31c4e6298e9ee068bada12f355cca1ae3b)

[2019-04-22 17:22] devCrossNet commented on #391
@MohitTilwani15 as far as I understand, this approach will build the app with either a dark or a light theme. What about switching themes at runtime?

[2019-04-23 20:04] MohitTilwani15 commented on #391
For dynamically changing SASS alone won't work. For that I have to use [CSS vars](https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties) I have to investigate on this.

[2019-04-28 18:35] MohitTilwani15 opened #401 "npx @vuesion/service create my-app doesn't work"
**Describe the bug**
`npx @vuesion/service create my-app`  throws error Cannot find module 'vue-server-renderer'

**Expected behavior**
A folder with name my-app should be created with all the required dependencies being installed.

- Node - 11.14.0
- npm - 6.9.0

**Screenshots**
![Screen Shot 2019-04-28 at 20 29 20](https://user-images.githubusercontent.com/13518712/56868600-c9cb6e80-69f4-11e9-8f

[2019-04-28 19:42] devCrossNet commented on #401
Nice catch @MohitTilwani15 . We really need to get a better test suite in place for the cli. Thanks!

[2019-04-30 08:08] eipiminus1 commented on #394
The link seems to be correct but for me it still does not behave correctly. I can right click "open in new tab" and go to the correct page. But a simple click only writes a message to console:
![image](https://user-images.githubusercontent.com/11791837/56948218-bd97fc00-6b2f-11e9-8fb6-9021741ef684.png)
I think this might have to do with vue router and the fact that `/docs` is outside of the `/stor

[2019-04-30 17:57] devCrossNet commented on #394
@eipiminus1 I will fix it in the next release, it's a problem with the markdown component. it replaces all links with a router-link. I'll find a workaround.

[2019-05-01 13:02] #401 closed

[2019-05-05 18:15] devCrossNet commented on #391
@MohitTilwani15 I am working on a POC in this branch: https://github.com/vuesion/vuesion/commit/9d364af61486c8b4acac9fb336ab0383208004ba

runtime theme switching already works, the overhead of the CSS variables shouldn't make trouble also if much more themes would be added.

there are a couple of things to explore:
- rendering initial theme could follow the logic of initial i18n locale
- SASS func

[2019-05-07 21:13] MohitTilwani15 commented on #391
@devCrossNet Are you sure about css-variables not working with cssnano post-css processor. Works for me after I did `npm link` with my local `@vuesion/service` with cssnano uncommented in base.ts.

[2019-05-08 07:39] NickRossBrown opened #404 "error when generating a module without vuex"
**Describe the bug**
Generating a module without vuex breaks application.

**To Reproduce**
Steps to reproduce the behavior:
1. clone the repo
[code]
2. cd directories
[code]
3.  install dependencies
[code]
4. generate module without vuex
[code]

3. run dev server
[code]
4. Failed to compile.

**Expected behavior**
generate a static page without vuex

**Desktop (please complete the following infor

[2019-05-08 15:07] devCrossNet commented on #391
@MohitTilwani15 I tried it again and it worked on the first run but as I started writing code for some time the error popped up. I think I will enable the whitespace optimization only in production, in dev it's even better to not have it. it's only the whitespace rule that causes this issue.

[2019-05-09 11:26] devCrossNet commented on #391
current status:

- [ ] rendering initial theme could follow the logic of initial i18n locale
- [x] SASS functions cannot be used with CSS-variables, find replacements
I got rid of them and used the theme-specific component variables instead
- [x] Storybook needs a theme switcher, too
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/1667598/57449964-83c8a300-725d-11e9-9ee2-1ce2b6

[2019-05-10 07:23] jackmahoney opened #405 "Lint does not provide errors"
`npx vuesion lint` does not provide meaningful error messages.

This is all that I get.

[code]

[2019-05-10 08:56] devCrossNet commented on #405
hey, npx only supports the create command right now. Please use the locally installed binary in node_modules/.bin directory for other commands. This will change in the next version.

[2019-05-10 13:22] devCrossNet commented on #405
@jackmahoney in which context was it necessary to run the lint command via `npx`? I would like to understand if this is a common use-case.

[2019-05-10 14:03] higuitadiaz opened #406 "Add Spanish documentation"
I want to contribute to this project helping to add the Spanish documentation.

I can interpretation or translation to Spanish of the current documentation.

Let me know if you are agreed to start

[2019-05-10 18:45] devCrossNet commented on #404
@NickRossBrown thank you for reporting.

I didn't come to a point where I covered all the cases in the templates (I only implemented the happy path). I am not quite sure which priority this issue will get.

Sorry for the inconvenience, I hope it's not a blocker for you to remove this line in the test and run it again.

[2019-05-11 00:03] NickRossBrown commented on #404
Not a blocker for me at all. I just want to help were I can. This repo is amazing. I would submit a pull request, but I am confused on how to implement changes to the generate script.

* Additional notes about the Issue

After removing that line 26, then throws an error from the beforeCreate() and prefetch hooks calling the module. Removing all those lines allows the application to run again.

![S

[2019-05-11 11:09] devCrossNet commented on #404
Hey @NickRossBrown,
thank you very much! that is a big compliment and gives a lot of motivation to all of us working on that project.

I like to encourage you to contribute and create your first PR in this repository. I will point you to the parts that you have to understand in order to implement this feature.

- handlebar templates, you need to know the if-else syntax in handlebars because this i

[2019-05-11 20:35] devCrossNet commented on #391
@MohitTilwani15 @tamer-mohamed I deployed the POC to a new staging dyno here: https://vuesion-next.herokuapp.com/

and here is the code for the whole implementation: https://github.com/vuesion/vuesion/commit/a1358fcfd172775bdcf56cde846d5188a888dcab

Let me know your feedback. I am not 100% sure if it's the right way but it feels ok so far. I am just concerned about the breaking change after releas

[2019-05-11 22:06] devCrossNet opened #407 "Value proposition"
We want to collect things that make vuesion a good choice for developers and enterprises. Please reply with the features that you think make vuesion a great choice.

- server- side-rendering
- progressive web app
- static site generator
- i18n
- SEO
- design system
- storybook
- quick scaffolding and code generator
- enterprise ready
- testing, best practices and clean code
- real world use-cases

[2019-05-12 12:55] tamer-mohamed commented on #391
@devCrossNet

We have to move to css variables and strip away sass variables anyway, so the breaking changes will happen, However I do agree with you to postpone (only in case there was no many requests about it).

The implementation overall looks good to me. I've few minor points:
- What do you think about removing the theming mixin, I feel that if you use it more often the theming variables will

[2019-05-12 14:17] devCrossNet commented on #391
@tamer-mohamed I like the addon-idea I will give the addon architecture another thought anyway to give them more flexibility and I also want to think about a way updating installed addons.

[2019-05-12 15:22] tamer-mohamed commented on #391
Yea, moving the design system into separate package may require some changes in the component it self to keep the flexibility, it is indeed big chunk of work but we will be a big step moving towards the modular architecture ;)

I'm happy to contribute into that one.

[2019-05-13 11:28] ThePeach opened #408 "generated storybook use components in templates with camelCase instead of kebab-case"
**Describe the bug**
Generated storybook use components in templates with `camelCase` instead of `kebab-case`

**To Reproduce**
Steps to reproduce the behavior:
1. Generate a new component
2. open the related `.stories.ts` file
3. note the generated `template`

**Expected behavior**
the component should be written in `kebab-case`

**Actual behaviour**
it uses `camelCase`

**Additional context**
Fr

[2019-05-13 11:44] devCrossNet commented on #408
@ThePeach thanks for reporting. I totally missed that 😕

in the meantime, you can change it locally.
Change this line: https://github.com/vuesion/vuesion/blob/cf54dae0d45f418956aa9cf43a35776b4bdb2fa5/.vuesion/generators/component/component.stories.ts.hbs#L11

to this:`template:   `<{{ kebabCase componentName }}>{{ properCase componentName }}</{{ kebabCase componentName }}>`,`

[2019-05-13 21:07] devCrossNet opened #409 "remove docs"
remove the docs folder and the vuepress build process from CI, replace all links to the docs with the new github-pages url from the vuesion/docs repository and add a redirect in Express for the docs

[2019-05-14 10:54] devCrossNet commented on #405
@jackmahoney any news on this one?

[2019-05-15 14:32] jackmahoney commented on #405
Hi @devCrossNet sorry for the delay. I resolved this by not using npx. I might have an unusual JS approach whereby I use npx to run bin commands. I'll close now, thanks your support.

[2019-05-15 14:32] #405 closed

[2019-05-15 14:32] jackmahoney commented on #405
For more context I often use a Makefile instead of package.json and invoke node bins using npx via Make instead of "npm run <script-name>"

[2019-05-15 14:41] devCrossNet commented on #405
@jackmahoney good to know 🙂 the thing with npx is that it doesn’t give the binary you run access to other binaries because of security reasons. The vuesion service in the current version is only a proxy to other clis which is exactly what doesn’t work with npx. In the next version it will work with the package apis instead of the binaries than it should also work for you.

[2019-05-15 14:42] jackmahoney commented on #405
Thanks @devCrossNet I appreciate it!

[2019-05-15 14:53] devCrossNet commented on #405
@jackmahoney I just saw on your website that you worked at Atfarm. I work at BCGDV! 😊

[2019-05-17 08:41] derron1 commented on #407
I think these for me personally makes vuesion stand out.

- Testing, best practices and clean code
- SEO
- Design System
- Static site generator
- Enterprise ready
- Quick scaffolding and code generator

[2019-05-19 17:06] #409 closed

[2019-05-19 17:06] #408 closed

[2019-05-19 17:06] #404 closed

[2019-05-19 17:06] #394 closed

[2019-05-20 13:17] eli007s opened #414 "opt out of storybook"
can we get an option to opt out of any storybook related files that get created or included by default on git pull?

great service, but not all of us use it and just have files we have to hunt for and delete =)

[2019-05-20 13:36] devCrossNet commented on #414
Hey @eli007s,

it's not possible in the current version but I will take this as a feature request for a future major update.

In the meantime, you can run `find ./src -name "*.stories.*" -type f -delete` in the root directory of your project to delete all storybook related files.

[2019-05-22 11:51] bernardocorbella opened #415 "Optimistic UI Updates or Caching strategy, worth it?"
**Is your feature request related to a problem? Please describe.**
Not really. I'd like to implement Optimistic UI updates and I thought it's a good topic to cover with documentation or maybe add some extra support if we like.

**Describe the solution you'd like**
For example: I would like to load pages with the existing contents of the store and subsequently trigger an API request to patch those

[2019-05-27 14:52] lariguilger opened #416 "Unhandled Promise Rejection Warning"
I can't run the project, when I try run the command "npm run dev" I get the following error:
[code]
**Desktop (please complete the following information):**
 - OS: Windows 10
 - Version: v3.2.0

[2019-05-27 16:53] devCrossNet commented on #416
Hey @lariguilger,
thanks for reporting.

Is it a clean git checkout / freshly created project or did you already change/add code?

[2019-05-27 17:35] lariguilger commented on #416
Yes, it's a freshly created project

[2019-05-27 17:55] lariguilger commented on #416
Apparently, using "yarn run dev" works... No idea why.

[2019-05-27 18:52] devCrossNet commented on #416
Strange! Which npm version do you have installed?

[2019-05-27 19:44] lariguilger commented on #416
Node 10 and npm 6.4.1

[2019-05-27 19:57] devCrossNet commented on #416
I have the same node version but my npm has the version `6.9.0`. can you update your npm (`npm i -g npm@6.9.0`) and tell me if the problem still exists?

[2019-05-28 19:46] lariguilger commented on #416
I just tested it and nope, same problem still happens

[2019-05-29 08:41] devCrossNet commented on #416
@lariguilger, sorry to hear that.

I will start investigating but it takes some time. I don't have a windows system running and I will be out of town this weekend.

If yarn solves your issue, I would be happy if you use it instead of npm until I fix it.

[2019-05-30 08:21] MH-Alsubhi opened #417 "MinDate, MaxDate not working in DatePicker and DateRangePicker"
**Describe the bug**
A clear and concise description of what the bug is.
MinDate, MaxDate produce issue "ReferenceError: action is not defined" in the [storybook](https://vuesion.herokuapp.com/storybook)
**To Reproduce**
Steps to reproduce the behavior:

1. Go to [storybook](https://vuesion.herokuapp.com/storybook)
2. Click on DatePicker or DateRangePicker
3. Click on [MinDate](https://vuesion.her

[2019-05-30 16:06] devCrossNet commented on #417
@MohitTilwani15 it works in dev mode without the action. strange.

I will deploy a hotfix straight to master!

[2019-05-30 16:08] #417 closed

[2019-05-31 18:51] JuanCarniglia commented on #416
Hey, having the same issue... any ideas?

[2019-05-31 19:13] devCrossNet commented on #416
Please use yarn for now or a unix based system. I will investigate next week 👍

[2019-06-04 19:15] devCrossNet commented on #415
@bernardocorbella sorry for not replying for so long. I will think about it over the weekend and give you some feedback 👍

[2019-06-06 09:18] zhanghanbing1998 opened #418 "error during rendering"
### Hello, my English is not very good, but I would like to ask you to help me look at this problem, how can I solve it? I'm using vuesion for the first time. I'm looking forward to your answer. Thank you first.

error: error during rendering: /foo; error: {"stack":"Error: Error: Request failed with status code 404\n    at Store.eval (webpack-internal:///./src/app/foo/actions.ts:61:31)\n    at ste

[2019-06-06 11:20] devCrossNet commented on #418
Hello @zhanghanbing1998,

Can you tell me the steps on how to reproduce this error?

basically, it says that the URL you try to request from the `prefetch` function of your component doesn't exist. That means you have to either remove this request or make sure that the endpoint is available.

[2019-06-10 01:01] zhanghanbing1998 commented on #418
I'm sorry to reply to you now. I created the foo module based on the document. I used the `npm run generate` script and made an error when accessing http://localhost:3000/foo.

[2019-06-10 15:31] devCrossNet commented on #418
@zhanghanbing1998 just to understand it correctly. You followed the guide in the documentation and this step: https://vuesion.github.io/docs/en/guide/cli.html#what-is-a-module did not work for you. Is that correct?

[2019-06-11 02:43] zhanghanbing1998 commented on #418
I found the reason, because this problem arose after deleting unnecessary code and files according to the document.[https://vuesion.github.io/docs/en/guide/clean-up.html](url)，after I clone the project again and try again, this problem does not arise. Finally, I want to ask you whether the redundant code deleted in the document is the dependency of creating the module.[https://vuesion.github.io/do

[2019-06-11 10:16] devCrossNet commented on #418
@zhanghanbing1998 Ok, I understand it now.

The blueprints for the module and connected components are based on the `counter` module and as you deleted the counter route on the server side the newly generated module is not able to reach the API.

I might change the order of the guide to do the cleanup step after the module creation to avoid this confusion in the future. Do you think this would be

[2019-06-11 10:48] zhanghanbing1998 commented on #418
Thank you. That's good. Thank you very much for answering my question. vuesion is very good. I spent a lot of time to solve SSR before. vuesion solved my problem better. Thank you for developing it. Finally, I wish you a good job!

[2019-06-11 11:48] devCrossNet commented on #418
Thank you very much for your support @zhanghanbing1998 😊

I'll let you know as soon as I made the changes to the docs.

[2019-06-15 06:50] zhanghanbing1998 commented on #418
hello,Johannes Werner,I have another question to ask you. I use the "vue-awesome-swiper" as a carousel plug-in, but this component relies on windows objects and document objects. However, when doing SSR, node does not have these objects, such as: window, document, how to solve this problem?

[2019-06-15 07:54] devCrossNet commented on #418
Hey, you can use this trick: https://vuesion.github.io/docs/en/tutorials/third-party.html scroll to the bottom

[2019-06-15 08:20] zhanghanbing1998 commented on #418
Thank you. It's very useful.

[2019-06-24 08:42] zhanghanbing1998 opened #419 "how to use stylus?"
**I'm sorry to bother you again. I used stylus in my previous project and had an error integrating it into vuesion. How do I use stylus?**

[code]

[2019-06-24 09:55] MohitTilwani15 commented on #419
Hello @zhanghanbing1998

Always happy to help. In Vuesion, there is a way you can override or add something on top of the existing webpack configuration. The above issue is because vuesion doesn't use stylus and hence there is no stylus and stylus loader installed. Follow the below steps and everything should work as you expect.

step1: `npm install stylus stylus-loader -D`

step2: Add `stylus loa

[2019-06-24 10:07] zhanghanbing1998 commented on #419
Thank you very much for your answer. I will have a test tomorrow.

[2019-06-26 09:01] zhanghanbing1998 commented on #419
@MohitTilwani15 I'm sorry to reply to you now. It's feasible after my test. Thank you very much.

[2019-06-26 09:01] #419 closed

[2019-07-14 09:33] ludo1960 opened #420 "Installation error"
**Describe the bug**
A clear and concise description of what the bug is.

When running npm install the script stalls when trying to install rxjs@5.5.12 I tried npm install -g rxjs@5.5.12 and running npm install again, but the same thing happens.

**Additional context**
Add any other context about the problem here.

When trying npm run dev here is log:
[code]

[2019-07-16 10:08] ludo1960 opened #421 "Cant reach components page"
Hello,
I've managed to install vuesion successfully but when I go to the components link i get a 404. In the terminal i see:
[code]
How to fix this?

[2019-07-16 16:48] devCrossNet commented on #421
Hey @ludo1960,

sorry for the late reply I just returned from vacation. The `/storybook` page is only available in the demo page (if you would run `npm run ci && npm start`). If you want to run storybook in dev mode use `npm run storybook:dev`.

Can you add your solution to ticket #420 to help others having the same issue?

[2019-07-17 04:31] TimothyPrachasri opened #422 "Is there anyway I can use style with scoped in scss?"
Is there anyway i can use style with scoped in scss?. since I've found that the rules for sass loader allows only css module to be used. However, is there anyway I can at least overwrite some webpack rules of scss from using css module to using any style (scoped or global).

[2019-07-17 06:27] devCrossNet commented on #422
Hey @TimothyPrachasri,
you can modify the webpack config based on https://github.com/vuesion/packages/blob/master/packages/service/src/webpack/config/base.ts in `./vuesion/webpack.config.js`.

In your case you have to replace the contents of the custom webpack config with:

[code]

Let me know if this helps you.

[2019-07-17 06:32] devCrossNet commented on #422
The solution posted enables both css-modules and global/scoped css, in case you want to use existing components that rely on css-modules.

[2019-07-17 09:17] ludo1960 commented on #420
Seems a dodgy wireless connection was the problem. Installed from a wired connection and it installs no problem

[2019-07-17 09:17] #420 closed

[2019-07-17 09:35] ludo1960 commented on #421
npm run storybook:dev. does the trick, thanks for that!

[2019-07-17 09:35] #421 closed

[2019-07-18 20:56] HeavenlyEntity opened #423 "Dev-server returned status code: 500."
**Describe the bug**
Development server does not start successfully,  unable to connect to dev server.
Try to open http://localhost:3000 manually.
- There was nothing on port 3000.
but got
[code]
**To Reproduce**
Steps to reproduce the behavior:
1. Run through set up process running initial commands using `npx`
2. `cd` into the project directory
3. Run `npm run dev`
4. Error status code 500

**Exp

[2019-07-19 11:19] devCrossNet opened #424 "Switch to eslint because Palantir is bad"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-07-19 13:26] livgrhm commented on #192
@devCrossNet working on it 👍

[2019-07-20 17:56] devCrossNet commented on #422
@TimothyPrachasri did it work?

[2019-07-20 18:00] TimothyPrachasri commented on #422
Right now i’m trying to use css module as a workaround. If i change to
scoped scss, will tell you  asap.

On Sun, 21 Jul 2562 at 00:56, Johannes Werner <notifications@github.com>
wrote:

[2019-07-21 09:54] ludo1960 commented on #423
Not sure if its a good thing to mix up npx and npm. Here is how I did it: First change to root user then:

Download or clone (git clone https://github.com/vuesion/vuesion) the repository
Change directory cd vuesion
Install dependencies: npm install
Run npm run dev

[2019-07-21 10:03] ludo1960 opened #426 "JSON API package"
Hello,

I am new to vuesion, but I see that it is a very well thought out package. I would like to consiume data from a json api source. I cannot find anything in the docs on how to go about this, I have read this [page](https://vuesion.github.io/docs/en/tutorials/prefetch-and-state-transfer.html) but it does not mention json api. Is there a package I could add to vuesion that would help me? Any o

[2019-07-21 14:34] devCrossNet commented on #426
Hey @ludo1960,

If you only need a json-file I would put it in the static folder and load it via axios.

If you mean a RESTful JSON API - vuesion is built on top of express so you can use any express best practices that you want.

Examples can be found here: https://github.com/vuesion/vuesion/tree/master/src/server/routes

My Personal best practice is to not use the vuesion app as an API endpoint,

[2019-07-21 14:46] ludo1960 commented on #426
Yeah it's restful Jason api that has a small number of end points. Forgive me if my question seems a bit dumb, but I am new to vue ijs. Should I just use express to grab the Jason data. I don't see how to do this in the links you sent. Just to be clear I have a headless drupal that serves up Jason api data. I'm just missing the bridge from the drupal Jason api to the vuesion package?

Sent from my

[2019-07-21 16:59] devCrossNet commented on #426
In this case, you can follow the example that you already mentioned.

You may need to update the config: https://github.com/vuesion/vuesion/blob/master/src/app/config/default.json with your drupal api endpoint.

And then you follow the typical vuex pattern (state, actions, mutations) and invoke the action in the `prefetch` method in one of the connected components.

Here is an example: https://git

[2019-07-21 17:00] devCrossNet commented on #426
If you still have questions it might be better to talk in real-time in our Slack channel

[2019-07-21 17:22] ludo1960 commented on #426
Many thanks for taking the time to answer my question. I'll post back if I get it working.

Cheers

Sent from my iPhone

On 21 Jul 2019, at 18:00, Johannes Werner <notifications@github.com<mailto:notifications@github.com>> wrote:

If you still have questions it might be better to talk in real-time in our Slack channel

—
You are receiving this because you were mentioned.
Reply to this email direct

[2019-07-21 17:44] devCrossNet commented on #423
Hey @HeavenlyEntity!
Thanks for reporting and sorry for the late reply.

Can you tell me your node and npm version?

[2019-07-21 18:08] devCrossNet commented on #423
And can you run `npm run build -- --debug` without any issues?

[2019-07-22 13:57] devCrossNet commented on #423
@HeavenlyEntity btw. the installation command changed today to `npx @vuesion/create [project-name]`. Maybe, you can try it again.

[2019-07-22 14:05] #418 closed

[2019-07-22 14:13] devCrossNet commented on #422
closed, this feature is now included in @vuesion/service version `3.0.0-alpha.6`

[2019-07-22 14:13] #422 closed

[2019-07-22 17:43] HeavenlyEntity commented on #423
@devCrossNet Thank you, I tried that. I believe if you can `catch` this error and return a `New error` that firewall rules o a network can cause this same issue. I am going to try an run this on an unrestricted network an get back to you guys to see if the error still persists.

[2019-07-22 22:53] infrony opened #428 "feat(i18n): add spanish translation"
Achieve that the boilerplate can be used for projects in Spanish

[2019-07-23 18:16] livgrhm commented on #172
@devCrossNet did this ever get worked on? ;)

[2019-07-23 18:24] devCrossNet commented on #172
@livgrhm nope, you can take it 😊

[2019-07-26 11:59] ludo1960 commented on #428
google vue add language pack. vue i18n is already installed on vuesion, you just need to add the spanish language pack

[2019-07-26 12:43] devCrossNet commented on #428
@infrony sorry, I missed this issue in my inbox somehow. Can you elaborate more on what you mean with this issue?

I don’t know what has to be different in Spanish projects.

[2019-07-27 16:51] devCrossNet commented on #192
merged to next

[2019-07-27 16:53] #192 closed

[2019-07-28 21:53] higuitadiaz commented on #423
Hi @devCrossNet, I have the same issue. I am installed Node 10.14.1 and NPM 6.9.0

If I run `npm run build -- --debug` i don-t have errors or warning  and if later run the start app working... however I have error using the `npm run dev` in this case the system display

`"C:\Program Files\nodejs\node.exe" "C:\Program Files\nodejs\node_modules\npm\bin\npm-cli.js" run dev --scripts-prepend-node-path

[2019-07-28 22:00] higuitadiaz commented on #423
@devCrossNet if I use YARN I don't have problem.. the app run in DEV mode using YARN

How to reproduce:
1. `npx @vuesion/create [projectName]`
2. `npm run dev`

[2019-07-30 01:24] eli007s opened #429 "access global namespaces like document and window"
is there a way to get access to the windows and document object models?

or perhaps add a way to natively the "vuesion" way to access them . window.scrollX and window.location.

[2019-07-30 08:52] devCrossNet commented on #429
Hey @eli007s,
you can access document and windows like you do it in every other vue application. the only thing you have to keep in mind is that these objects are not available on the server. so you either have to keep them out of the server-lifecycle or you surround it with `if(CLIENT){}`.

here is an example: https://github.com/vuesion/vuesion/blob/master/src/app/shared/components/VueModal/VueMo

[2019-07-30 23:29] HeavenlyEntity commented on #423
Okay so I cloned the most recent verision and tried the `npm install` and `run dev` script but got the same error on an unrestricted network. I tried to run `yarn run dev` & `npm run build -- --debug` and still I get the same error.

This is what appear after running yarn method.
[code]
this is what appeared in the console window upon launching.

[2019-07-31 08:13] devCrossNet commented on #423
@HeavenlyEntity that looks like a node-sass issue. here are some resources:
- https://github.com/sass/node-sass/issues/2512
- https://github.com/sass/node-sass/issues/2536

I will try to reproduce this issue asap. in the meantime you can try the next version of vuesion by running `npx @vuesion/create my-app --next`. it'll be released soon, I am just a little bit busy right now 😞

[2019-07-31 08:21] devCrossNet commented on #423
Ok, I am not able to reproduce this issue on OSX.

my npm and node version:
npm --version
6.10.2
node --version
v10.15.2

I did run `npx @vuesion/create my-app`, `cd my-app`, `npm run dev` and the vuesion site opens in the default browser. same goes for `npx @vuesion/create my-app --next`.

I need to find some time to install a Windows vm in order to check this.

Windows turns out as the biggest p

[2019-07-31 21:18] HeavenlyEntity commented on #423
If you add me as a contributor I can see if I can help you out? Then maybe close the issue myself and help others? 👍

[2019-07-31 21:21] devCrossNet commented on #423
@HeavenlyEntity I add you to the org.

Let's find some time for onboarding and let's keep this issue open. it returns anyway.

[2019-08-01 09:35] tamer-mohamed opened #430 "Use riteway for unit testing"
**Is your feature request related to a problem? Please describe.**
[There are 5 questions must be answered](https://medium.com/javascript-scene/what-every-unit-test-needs-f6cd34d9836d) by any unit test.

[code]

When applications grow, it gets hard to make sure those questions are answered and many frameworks makes it easy to miss answering those questions.

**Describe the solution you'd like**
Er

[2019-08-01 11:18] devCrossNet commented on #430
looks pretty cool!

Can you create a branch and:
- set-up riteway (we can later integrate it in the vuesion/service)
- figure out if we have to use jest as runner + riteway or replace jest with riteway
- refactor a couple of tests in order to get a rough estimate what effort we have to plan in
?

Thanks @tamer-mohamed 👍

[2019-08-05 15:31] devCrossNet opened #431 "update: storybook-addon-vue-info"
update to the latest version of storybook-addon-vue-info

it has to be done in vuesion/service and vuesion

[2019-08-05 16:11] devCrossNet commented on #430
related to #378

[2019-08-05 16:12] devCrossNet commented on #429
@eli007s can this be closed?

[2019-08-05 16:12] devCrossNet commented on #428
@infrony can this be closed?

[2019-08-05 16:12] devCrossNet commented on #426
@ludo1960 can this be closed?

[2019-08-05 16:16] ludo1960 commented on #426
Yes, thanks for all your help Johannes

Sent from my iPhone

On 5 Aug 2019, at 17:12, Johannes Werner <notifications@github.com<mailto:notifications@github.com>> wrote:

@ludo1960<https://github.com/ludo1960> can this be closed?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/vuesion/vuesion/issues/426?email_source=notificati

[2019-08-05 16:16] #426 closed

[2019-08-05 20:48] tamer-mohamed commented on #430
Sure!

[2019-08-05 21:23] infrony commented on #428
Yes @devCrossNet.

[2019-08-05 21:37] #428 closed

[2019-08-09 11:30] wizardnet972 commented on #423
I just want to use vuesion in my organization but I get this error. (on windows)

For now, I don't tell them to use vuesion I'll find an alternative.

I hope you can fix that very soon.

[2019-08-09 11:36] devCrossNet commented on #423
@wizardnet972 do you have some details on that error?

the last time we had this issue it was because of the EOL of the windows system and prettier causing an error in TS Lint. Do you see anything popping up during the dev-build process?

[2019-08-09 15:17] #429 closed

[2019-08-10 00:46] devCrossNet commented on #423
@HeavenlyEntity I have a windows VM up and running. it seems to be a problem with the stdio under windows.

[2019-08-10 00:55] devCrossNet commented on #423
the whole problem is connected to this issue: https://github.com/nodejs/node/issues/21825

[2019-08-10 15:51] devCrossNet commented on #423
@HeavenlyEntity, @ludo1960, @higuitadiaz, @wizardnet972

🎉

![VirtualBox_MSEdge - Win10_10_08_2019_17_41_02](https://user-images.githubusercontent.com/1667598/62823911-2b27df80-bb97-11e9-8a35-e9e761e06176.png)

Please test it on your machines.

if you already have a vuesion instance run `npm i -D @vuesion/service@3.0.2` in the root directory

if you want to start from scratch run `npx @vuesion/cre

[2019-08-10 15:52] devCrossNet commented on #416
@lariguilger, @JuanCarniglia

please see: https://github.com/vuesion/vuesion/issues/423#issuecomment-520159263

[2019-08-10 17:20] HeavenlyEntity commented on #423
@devCrossNet I will run your test shortly and see if it occurs on my end. 👨‍💻

[2019-08-12 11:19] devCrossNet commented on #423
@HeavenlyEntity, @higuitadiaz, @wizardnet972 any news on this one? Otherwise, I'll close this issue EOD.

[2019-08-12 12:40] higuitadiaz commented on #423
HI @devCrossNet,

The bug is fixed!

I updated the vuesion services in an existing project and worked, later I created a new project using `--next` and worked too.

![image](https://user-images.githubusercontent.com/44470789/62865423-7bf52080-bcdc-11e9-97b9-20bf5c9a4ad3.png)

[2019-08-12 13:22] #416 closed

[2019-08-12 13:22] #423 closed

[2019-08-13 13:02] devCrossNet opened #432 "add helmet"
as @tamer-mohamed suggested, add https://github.com/helmetjs/helmet

[2019-08-13 20:33] HeavenlyEntity commented on #423
We should update this in the docs for troubleshooting as well so if this occurs again it can be provided in docs for reference.

[2019-08-13 20:48] devCrossNet commented on #423
@HeavenlyEntity feel free to add it to the docs 👍

[2019-08-14 15:50] #432 closed

[2019-08-19 15:31] derron1 opened #435 "Advance Forms"
It would be great if we can add support for the follwing form types:
Switch
Range
Textfield
Switches

**Additional context**

<img width="649" alt="Screenshot 2019-08-19 at 16 29 33" src="https://user-images.githubusercontent.com/2568670/63278160-ac215e00-c29e-11e9-94d5-0b6e92f447d1.png">
<img width="653" alt="Screenshot 2019-08-19 at 16 28 19" src="https://user-images.githubusercontent.com/256867

[2019-08-19 16:31] devCrossNet commented on #435
@derron1 we already have:
- [Switch/Toggle](https://vuesion.herokuapp.com/storybook/?path=/story/atoms-toggle--default)
- [Slider/Range](https://vuesion.herokuapp.com/storybook/?path=/story/atoms-slider--range)

The TextArea is missing but we can provide it in the next minor version.

[2019-08-20 14:09] derron1 commented on #435
oh appologise ..If we can get Text area in on the next minor version thats great..

[2019-08-21 20:22] derron1 commented on #435
Could we also add a input dropdown form

[2019-08-22 09:08] devCrossNet commented on #435
@derron1 do you mean the [select component](https://vuesion.herokuapp.com/storybook/?path=/story/atoms-select--default)?

In addition there is a [dropdown menu](https://vuesion.herokuapp.com/storybook/?path=/story/atoms-dropdownmenu--default) and an [auto complete](https://vuesion.herokuapp.com/storybook/?path=/story/organisms-autocomplete--default).

[2019-08-22 09:09] devCrossNet opened #436 "support multiple modals"
use case: use range-date-picker inside of a modal - results in unexpected behavior.

[2019-08-22 09:11] devCrossNet opened #437 "range-slider: buggy focus behaviour"
use-case: put a couple of range sliders in a custom data-table renderer - sometimes the focus indicator doesn't disappear

[2019-08-22 11:11] devCrossNet opened #438 "vue-select: add label"
add a label that works like the input placeholder

[2019-08-22 11:45] devCrossNet opened #439 "vue-data-table: add custom class to column definition"
I want to pass a custom class for every column.

[2019-08-22 20:02] devCrossNet opened #441 "components: align input elements"
currently, input components like input, select, checkbox, button, etc. are not aligned in height.
the should have the same height when placed beside of each other

[2019-08-22 20:17] devCrossNet commented on #436
not sure to support this since multiple modals should be considered a bad UI design.

[2019-08-22 23:40] derron1 commented on #435
Yes I was reffering to the  select component sorry I didnt see it..Is there any resson why the styling is completly different to the defualt input.
I was checking the design system for something similar to this!!
![Screenshot 2019-08-23 at 00 36 50](https://user-images.githubusercontent.com/2568670/63556908-6e426500-c53e-11e9-879b-8bd357cfabe6.png)
![Screenshot 2019-08-23 at 00 37 21](https://user

[2019-08-23 06:05] devCrossNet commented on #435
The reason is that I prefer native components over fancy ones. They have less code, are accessible and work on every device.

If you want the material design system I recommend you to use vuetify.

[2019-08-23 12:08] devCrossNet opened #442 "generators: create actions, mutations"
it would be nice if we could use the generate command to also add actions and mutations to modules.

it should ask for the module, the action name, maybe an action type (one of the CRUD operations) and generate the action

it should ask for the module, the mutation name, the parameter name, the state property and generate the mutation

[2019-08-25 16:26] devCrossNet commented on #327
vee-validate 3.0 is released. let's see if it works now.

[2019-08-25 18:19] #435 closed

[2019-08-25 18:19] #437 closed

[2019-08-25 18:19] #438 closed

[2019-08-25 18:19] #439 closed

[2019-08-25 18:19] #441 closed

[2019-08-26 15:27] devCrossNet opened #447 "autocomplete: add autofocus and validation"
pass down props for  autofocus and validation to input components

[2019-08-26 16:01] devCrossNet commented on #447
also:
- make sure max-options works
- prevent press enter
- styling for empty list

[2019-08-26 19:51] #447 closed

[2019-08-27 12:38] devCrossNet opened #449 "autocomplete: support v-model"
see title

[2019-08-30 21:08] #436 closed

[2019-09-04 03:37] danbars opened #452 "Bug: Vuetify example doesn't work"
**Describe the bug**
On a clean vuesion installation, following the instructions [here](https://vuesion.github.io/docs/en/tutorials/third-party.html#vuetify) - the compiler doesn't like this: `$vuetify.breakpoint.lgAndUp` in `App.vue`

Here's the stack trace:
[code]

Running on node 11.10.1

I think maybe vuetify has to be exported in app.ts, but I couldn't figure out exactly how.

[2019-09-04 06:20] devCrossNet commented on #452
I think they had a major update. I will have a look at it. But be aware of the performance impact, the bundle size will increase to over 1MB with vuetify.

[2019-09-04 08:45] danbars commented on #452
Thanks. They have the option to bundle modules selectively. Maybe it worth showing an example for that.

[2019-09-04 08:54] devCrossNet commented on #452
Feel free to put this in the docs but I wouldn't spend more time on that topic. I will try to fix the current docs asap but optimizations are out of scope for me.

[2019-09-05 09:26] devCrossNet opened #453 "components: v-on="handlers" emits events multiple times in certain scenarios"
search for a different pattern.

[2019-09-05 10:06] ludo1960 opened #454 "Failed the test "npm test""
Hi,
changed a few bits and pieces ie site name and some routes. Running npm test results in the following.

'Jest: "global" coverage threshold for statements (100%) not met: 99.91%
Jest: "global" coverage threshold for branches (100%) not met: 99.56%
Jest: "global" coverage threshold for lines (100%) not met: 99.91%

Summary of all failing tests
 FAIL  src/app/home/components/Stage/Stage.spec.ts

[2019-09-05 10:28] devCrossNet commented on #454
Hey @ludo1960,
you can edit any File. The tests are failing because you changed the component. Most of the times you have to change the tests, too (and this depends on the tests, what they asses and how they are written)

In this case, the test makes sure that the H1 is `vuesion` and that a certain amount of sections are present. It might not be the best test in the world but anyway you have to ch

[2019-09-05 12:21] ludo1960 commented on #454
OK Thanks Johan,
So I have made necessary changes and tests run ok now, next I tried https://vuesion.github.io/docs/en/guide/cli.html#create-a-module to make a module, not a connected module just a module. Running npm run dev churns out the default vuesion stuff and browsing to my new module /testmodule results in error, here is the log entry:

'{"level":"error","message":"error during rendering:

[2019-09-06 07:46] devCrossNet commented on #454
it seems that it can not reach an API endpoint. usually, it tries to hit /increment. maybe, it's not available in your set up through a different api base url or you removed the demo-routes?

I would start troubleshooting here: https://github.com/vuesion/vuesion/blob/master/src/app/counter/actions.ts#L21 but in the actions file of your new module

[2019-09-06 09:03] ludo1960 commented on #454
OK I started by changing /src/app/config/default.json back to http://localhost:3000 from my **working** JSON api source. npm run dev works just fine, then my super douper new module from the now infamous npm run generate /testmodule:
'{"level":"error","message":"error during rendering: /testmodule; error: {\"stack\":\"Error: Error: Request failed with status code 404\\n    at Store.eval (webpack-i

[2019-09-13 10:56] devCrossNet commented on #454
that means that the endpoint you try to request in the prefetch method of the connected component in that module is not available / returns 404.

[2019-09-13 15:09] ludo1960 commented on #454
So my bright shiny new module is still refering to:
[code]
Why does the generator include unnecessary unwanted code? Is it a new regulation from Brussels? :)

[2019-09-13 16:01] devCrossNet commented on #454
I am working on better templates. you can change the templates in the .vuesion folder by yourself if you want. the default template is the minimal setup to see the router, vuex, and vue working together. it's not intended to work in a changed vuesion environment - but as I said - I am working on a better solution.

[2019-09-13 16:02] ludo1960 commented on #454
wunderbar, danke johan!!

[2019-09-17 10:56] ludo1960 opened #455 "Error in npm run test"
Hello,

When running npm run test on a fresh install, in the console i see the following error:
[code]
Anything to worry about?

[2019-09-17 18:17] eli007s opened #456 "routes auto detected"
would it possible to have any `routes.ts` to be automatically detected and inserted into the spread operators in `router.ts`?

it would help in not forgetting to add a route.

[2019-09-18 11:01] ludo1960 opened #457 "where to store json api for vuex"
Hello Johan,

In my never ending quest to get vuesion to "talk" to my JSON api endpoint. Following your advice and changing src/app/config/default.json and setting baseUrl to my JSON api endpoint results in the rest of the vuesion site to break down i.e. login/logout and the now famous increment leads to an error page. Changing baseUrl back to localhost:3000 makes everything work again. So I think

[2019-09-18 11:39] devCrossNet commented on #457
hey @ludo1960,

you have to understand the vuesion comes with initial scaffolding and that its main purpose is to demo different scenarios.

By changing the baseUrl you point all your api calls to your api-service. That means the service will not have the following endpoints included:
- `/increment`
- `/decrement`
- `/token`
- `/protected`

That's the reason the following internal express routes a

[2019-09-18 11:44] devCrossNet commented on #456
@eli007s can you elaborate more on the use case?

I assume that all components, modules and connected components are generated via the `npm run generate` command. In the case of creating a module it already automatically adds the `routes.ts` file of the module to the `router.ts` file

[2019-09-19 06:08] ludo1960 commented on #457
Johan,
So I have to emulate the code in src/server/routes/DemoRoutes:
[code]
  app.get('*', (req: Request, res: Response, next: any) => {
    const host: string = req.headers.host || 'myjsonsite.com';
    const redirect: string = `https://${host}` + req.url;

    if (req.headers['x-forwarded-proto'] && req.headers['x-forwarded-proto'] !== 'https') {
      res.redirect(redirect);
    } else {

[2019-09-19 06:21] devCrossNet commented on #457
What i am saying is that the demo code is not supposed to work in a derived setup. Remove all the demo code an replace it with your actual business logic.

[2019-09-19 06:30] ludo1960 commented on #457
My business logic is to get vuesion to serve up my json endpoints. Is the code on the tracks
[code]
If this is correct then I can use HttpService to grab the json data, I need an example of that

[2019-09-19 07:34] devCrossNet commented on #457
you don't need this code. As you can read in the comment in the code it's only for heroku deployments: https://github.com/vuesion/vuesion/blob/master/src/server/routes/DemoRoutes.ts#L10

Did you ever read this: https://vuesion.github.io/docs/en/guide/clean-up.html#clean-up? Maybe, you can follow along with it.

There are also TODO: comments in the code when parts are only for demo purposes. you sh

[2019-09-19 11:03] ludo1960 commented on #457
Yes I have read the docs and completed the clean up, I tried to edit the templates to get rid of our good friend increment etc. Only trouble is I deleted something I shouldn't of and the plan went to pot. Fresh download, did clean up again as per the docs. Changed app/config/default.jason to "baseUrl": "http://opena.com/api"  then edited .vuesion/config.json  "outputDirectory": "./src/app/modules"

[2019-09-19 13:35] devCrossNet opened #458 "vue-slider: optimize SSR"
put the code from mounted in an immediate watcher on values.

[2019-09-20 13:32] ludo1960 opened #459 "Where is the IVenture defined?"
Where does the **IVenture** const/var come from in the api call?
[code]

[2019-09-20 17:27] eli007s commented on #456
-,- okay you win

[2019-09-20 17:27] #456 closed

[2019-09-21 09:00] analytik opened #460 "`npx @vuesion/create foobar` fails on missing lodash"
When I run `npx @vuesion/create` for the first time, I get an error. I suspect there are missing dependencies in the `create` package.

[code]

Windows 10 x64, Node.js v12.9.1, npm 6.10.2

[2019-09-21 15:09] devCrossNet commented on #459
That is an object that you pass into this action when calling it from inside a component. Something like:

[code]

you can read this in the [vuex docs](https://vuex.vuejs.org/guide/actions.html)

[2019-09-21 15:10] devCrossNet commented on #459
I will close this issue because it's a discussion, please keep the discussions in the slack channel in the future.

[2019-09-21 15:10] #459 closed

[2019-09-21 15:11] devCrossNet commented on #457
same here, discussions should happen in slack.

[2019-09-21 15:11] #457 closed

[2019-09-21 15:11] #454 closed

[2019-09-21 15:12] #455 closed

[2019-09-21 15:12] devCrossNet commented on #460
@analytik I will have a look into it. Thanks for reporting. in the meantime you can use git clone to get a local copy.

[2019-09-21 15:24] #460 closed

[2019-09-21 16:12] devCrossNet commented on #460
@analytik it should work now. I only tested it on OSX but the bug was not OS-specific, so should work with windows, too.

Can you confirm?

[2019-09-21 16:46] #452 closed

[2019-09-21 16:47] devCrossNet commented on #452
@danbars guide is updated and deployed: https://vuesion.github.io/docs/en/tutorials/third-party.html

[2019-09-21 16:50] #449 closed

[2019-09-21 16:50] #453 closed

[2019-09-21 16:50] #458 closed

[2019-09-21 17:06] devCrossNet commented on #424
https://github.com/TypeStrong/fork-ts-checker-webpack-plugin#eslint

[2019-09-23 05:33] analytik commented on #460
[code]

Fixed, thanks!

[2019-09-27 11:57] devCrossNet opened #463 "feat(vue-slider): handle focusout event"
the handles stay active on focus out at the moment, that shouldn't be the case

[2019-09-27 13:11] devCrossNet opened #464 "feat(vue-autocomplete): only prevent default when list is open"
add the tab key to select open. only prevent default key behavior if the autocomplete list is shown

[2019-09-28 17:12] devCrossNet opened #465 "update to node.js 12"

[2019-10-01 18:50] #442 closed

[2019-10-01 18:50] #463 closed

[2019-10-01 18:50] #464 closed

[2019-10-07 12:20] misikoff commented on #407
Vuesion doesn't feel like a 'black box' where magic happens. Everything is surfaced readily for exploration and understanding. This, coupled with Vuesion's implementation of best practices and best in class VueJS packages made Vuesion a great way to acclimate myself to enterprise VueJS development.

In addition to the great learning value, the qualities mentioned above enabled me to get moving qui

[2019-10-09 15:37] devCrossNet opened #468 "Test coverage of components in isolation"
currently, the test coverage is based on running the whole test suite, which means if one component is used in another, it could be covered by the other component's tests. we should have 100% coverage for every component in isolation.

[2019-10-10 09:50] devCrossNet opened #470 "generators: delete CRUD mutation should use splice"
currently, we have:

[code]

but it should be:

[code]

in order to inform vue's reactivity system.

[2019-10-10 17:16] devCrossNet opened #471 "vue-calendar: dates are not displayed on the right week days"
the 1st of December 2019 is a Sunday, not a Monday.

[2019-10-11 16:16] devCrossNet opened #472 "component: drawable canvas"
a component that allows users to draw with the mouse cursor or on touch devices -> usually, a native app feature -> one reason more to use a PWA over a native app

[2019-10-11 16:18] devCrossNet opened #473 "component: color-picker"
typical color picker (like sketch or procreate)

1. step: simple hex web colors
2. step: rgba color picker
3. step: HSL color picker

[2019-10-11 20:02] devCrossNet commented on #472
http://www.williammalone.com/articles/create-html5-canvas-javascript-drawing-app/#demo-simple

[2019-10-11 20:05] devCrossNet commented on #473
https://caniuse.com/#feat=input-color

https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/color

[2019-10-13 15:19] #468 closed

[2019-10-13 15:19] #470 closed

[2019-10-13 15:19] #471 closed

[2019-10-13 15:53] devCrossNet commented on #472
https://github.com/williammalone/Simple-HTML5-Drawing-App/blob/master/html5-canvas-drawing-app.js

[2019-11-05 06:32] Akimotorakiyu opened #477 "How about work with electron"
desktop app, like [github desktop](https://github.com/desktop/desktop)

**Is your feature request related to a problem? Please describe.**
work with electron

**Describe the solution you'd like**
work with electron

**Describe alternatives you've considered**
work with electron

**Additional context**
work with electron

[2019-11-05 15:47] devCrossNet commented on #477
@Akimotorakiyu I have no experience with electron. do you need some help to get electron working with vuesion or does vuesion have to change something in order to work with electron?

[2019-11-06 03:00] Akimotorakiyu commented on #477
Could integrate [vue-cli-plugin-electron-builder](https://nklayman.github.io/vue-cli-plugin-electron-builder/) into vuesion

That will make us create electron SPA app easily.

[2019-11-06 03:28] Akimotorakiyu commented on #473
lab color picker may useful for get the same lightness of color in feeling.

[2019-11-06 03:31] Akimotorakiyu commented on #473
mix-blend-mode and background-blend-mode preview maybe useful for design theme

[2019-11-06 03:46] Akimotorakiyu commented on #424
[@vue/eslint-config-prettier](https://www.npmjs.com/package/@vue/eslint-config-prettier)
[@vue/eslint-config-typescript](https://www.npmjs.com/package/@vue/eslint-config-typescript)

[eslint-plugin-prettier]()
[eslint-plugin-vue]()

[2019-11-06 04:02] Akimotorakiyu commented on #407
- electron

there is a mystery - the browser of Government, hospital, financial institution, factory etc, only god know how to make compatibility.

[2019-11-08 04:02] itgelo opened #478 "is there way to set up apple-touch-icon"

[2019-11-08 07:24] devCrossNet commented on #478
Hey @itgelo,

You can add whatever you want to this file: https://github.com/vuesion/vuesion/blob/master/src/index.template.html.

I hope that answers your question.

[2019-11-08 10:39] itgelo commented on #478
ok, thanks @devCrossNet

[2019-11-08 10:39] #478 closed

[2019-11-12 16:25] itgelo opened #479 "Error Response"
await HttpService.post<ISignin>('/signin', data);
how to  catch error response data?

I have tried error.response but the result is undefined

[2019-11-12 16:29] devCrossNet commented on #479
hey @itgelo,

did you try:

[code]
?

[2019-11-13 02:36] itgelo commented on #479
I have tried.

`try {
  await HttpService.post('/signin', data);
} catch (e) {
  console.log(e.response); // response is undefined
}`

what I need, how to get an error response from API?

[2019-11-13 12:55] devCrossNet commented on #479
@itgelo it depends a little bit on your API, for this reason, I would log out the error object and see how it is structured. instead of `console.log(e.response);` you do `console.log(e);` and then see where you can get the necessary information.

I am not 100% sure if this is a vuesion or an axios issue. But please try this approach first before I start spending time on troubleshooting.